[2020-10-05 18:55] calclavia opened #1 "Collaborate on Implementation?"
I was planning on implementing this on Pytorch as well and started a repo https://github.com/calclavia/Performer-Pytorch
Implemented the kernel so far. If the author(s) of this repo wants to collaborate, would be happy to contribute.

[2020-10-06 19:28] lucidrains commented on #1
@calclavia hey Henry! Yea, I want to build this! Do you have a plan for cutting down memory usage for the autoregressive case? Custom cuda like what epfl did?

[2020-10-06 20:07] lucidrains commented on #1
@calclavia feel free to email me, happy to chat more :) we are after the same thing

[2020-10-06 21:59] lucidrains commented on #1
@calclavia I think I'm just going to go it alone and finish it tonight, I'm too tired to collaborate lol

sorry!

[2020-10-06 22:00] lucidrains commented on #1
@calclavia we should keep in touch and exchange our findings testing this in the wild

[2020-10-06 22:00] #1 closed

[2020-10-06 23:07] ketyi commented on #1
Go go guys! ;)

[2020-10-07 04:27] lucidrains commented on #1
@calclavia committed and deployed my first draft! i'll keep digging into the jax code tomorrow to see what other essential details i'm missing

[2020-10-07 17:04] bratao opened #2 "Show what is the performance on enwiki8 is across your projects"
Hello @lucidrains , I´m a very big fan of your work. It is of such as high quality, that every new project you release I get sleepless to try it.

You do have many different versions of transformers, such as reformer, memory-xl, performer... And apparently you already test it with enwiki8.

Would be possible to post on Read-me a table with the enwiki runtime, memory and some performance metric? Th

[2020-10-07 17:10] lucidrains commented on #2
@bratao you will like this! https://openreview.net/forum?id=qVyeW-grC2k

Performer isn't quite ready yet. So linear attention variants come with a drawback, often swept underneath the rug (as most papers do). There is a memory cost in the autoregressive case. The authors use Jax to solve this issue, but for Pytorch, I may need to reach for CUDA code. Also, the quadratic issue still exists, it's ju

[2020-10-07 17:15] lucidrains commented on #1
@calclavia turns out the CUDA code will definitely be necessary, since I got word that the number of random features is encouraged to be 256 or above. Let me know if you'd like to collaborate on this :)

[2020-10-07 17:26] lucidrains commented on #2
@bratao if you are curious what my recommendation is, it would be https://github.com/lucidrains/routing-transformer for now

[2020-10-07 17:28] bratao commented on #2
Wow, I loved it. Thanks.

Sorry for the boldness, but I have to take the opportunity to ask an expert like you. If you don´t mind... @lucidrains  If you are busy, feel free to ignore my question.

I´m looking for using transformers for Sequence Labeling on very large, almost infinite, documents. This document is composed of many smaller documents, that have some kind of structured information. I m

[2020-10-07 17:41] lucidrains commented on #2
@bratao how big is your dataset? how many tokens is your average document?

[2020-10-07 17:45] bratao commented on #2
@lucidrains My dataset have approximately 150 documents, with 12k tokens as average. I´m using a training with a batch of size 3 ( it is what fits the T4 GPU) with the optimizer as a search hyperparam that picks between Rancher, SGD, Adam.

[2020-10-07 17:53] lucidrains commented on #2
@bratao ahhh, I see, you are in the low-data regime. I think it is best to pull a pre-trained model off the shelf from Huggingface, as I think training a sparse attention network from scratch on such low amounts of data is not enough. Attention is all we need, given enough data and compute :)

[2020-10-07 17:55] lucidrains commented on #2
@bratao if you are interested in pre-training a sparse attention network yourself, you can use https://github.com/lucidrains/electra-pytorch , which is the most effective way to do so as of today

[2020-10-07 18:03] bratao commented on #2
Thank you so much @lucidrains ❤️
I will look closer at compressive and routing. I will also let this hyperparam search run for a little while to see if there is any hope with transformers.

But following your advice, I will focus RNN alternatives such as IndLSTM and QRNN.

[2020-10-07 18:03] #2 closed

[2020-10-07 18:27] lucidrains commented on #2
@bratao they are not mutually exclusive! try a bidirectional LSTM in earlier layers, followed by attention near the top. Guarantee you'll see gain :)

[2020-10-07 18:43] bratao commented on #2
Nice, I will try it and report back as soon I get the results!

[2020-10-08 20:36] lucidrains commented on #1
@calclavia nevermind, a new paper has found a way to do this causal case without CUDA code. I'm going to wrap up the project today

[2020-10-09 18:13] calclavia commented on #1
Sorry for the late response - was busier than I thought this week. Looking forward to your wrap up. :)

[2020-10-16 16:12] Parskatt opened #3 "Feature Request: Enable generalized attention."
In the paper a generalized form of attention is tried using relus instead of exponential functions (see figure 6 in https://arxiv.org/pdf/2009.14794.pdf), perhaps this could be used with arbitrary non-linearities (relus, softplus, gelu, etc).

[2020-10-17 04:47] lucidrains commented on #3
@Parskatt Hey Johan! I've added it in the latest commit! Let me know if it works for you

https://github.com/lucidrains/performer-pytorch/releases/tag/0.0.8

[2020-10-17 08:42] Parskatt commented on #3
Hey, thats awesome! I'll definitely check it out!

[2020-10-17 18:56] #3 closed

[2020-10-19 14:21] Parskatt opened #4 "Question: Scaling down number of random features depending on number of heads?"
The theory for the paper gives a result which gives some guarantees for nb_features = O(dim*log(dim)).
When using multiple heads, e.g. dim = 512, heads = 8, you would get a lower dimensionality per head, is it then reasonable to scale the dimension of nb_features = O((dim/heads)*log(dim/heads)) ? Or is the variance too high when the number of features gets too low? Do you have any intuition for th

[2020-10-19 14:49] Parskatt opened #5 "Small issue in random matrix generation"
In `gaussian_orthogonal_random_matrix` you seem to create possibly more full blocks than nb_features:

https://github.com/lucidrains/performer-pytorch/blob/f9765c4ec1006f073c42d745588e78e3fb134537/performer_pytorch/performer_pytorch.py#L72-L73

This is not really a performance issue, but it might give some unexpected results.

[2020-10-19 14:53] #5 closed

[2020-10-19 14:53] Parskatt commented on #5
I completely forgot that int() performs a floor operation, sorry for the stupid issue :)

[2020-10-19 19:45] lucidrains commented on #4
@Parskatt I think it makes sense for this to be dim / heads. For a standard 1024 dim and 8 heads, 128 * log(128) ~= 256

[2020-10-19 19:48] lucidrains commented on #4
@Parskatt I was told this hyperparameter is pretty critical to good performance

[2020-10-19 19:48] lucidrains commented on #4
@Parskatt Let us know what you find in your experiments!

[2020-10-20 15:47] Parskatt commented on #4
I will continue my experiments and let you know later :)

[2020-10-20 15:47] #4 closed

[2020-10-20 16:10] Parskatt opened #6 "Redrawing normalized samples using QR slows down training"
Doing the QR-decomposition:

https://github.com/lucidrains/performer-pytorch/blob/f9765c4ec1006f073c42d745588e78e3fb134537/performer_pytorch/performer_pytorch.py#L67-L70

Slows down training substantially (at least for batch sizes of ~4). For example, in my own experiments I get ~2.5 batches/s per GPU without redrawing, and ~1.4 batches/s with redrawing.

I found one solution from pytorch GP, whic

[2020-10-20 16:18] Parskatt commented on #6
Using CPU instead of GPU gives me ~2 batches/s.
It's not perfect, but its better.

[2020-10-20 22:35] lucidrains commented on #6
@Parskatt thank you for looking into this! i noticed this as well, but didn't know CPU would be faster

https://github.com/lucidrains/performer-pytorch/releases/tag/0.0.9

[2020-10-21 07:09] Parskatt commented on #6
Thanks for being super fast as usual :)

I think I will personally use trainable projection matrices, initialized as N(0,I). I'll let you know if it works out ;)

I'll close this issue

[2020-10-21 07:09] #6 closed

[2020-10-21 19:48] lucidrains commented on #6
@Parskatt please do!

[2020-10-26 21:36] Warvito opened #7 "Causal model running on GPU"
Hi, I am trying to run the LM model with the `causal = True` on the GPU but I am getting some issues.

I am trying to run the following example:

[code]

And I am getting this error:

[code]

My system has:
TITAN RTX
CUDA Version: 10.2
Driver Version: 440.100

[2020-10-26 22:27] lucidrains commented on #7
@Warvito ahh, so not often spoken about is the fact that the auto-regressive flavor of linear attention actually a pretty big memory cost (times sequence length) and requires special CUDA code to be performant (it is probably why google chose to do this in Jax)

EPFL wrote up a nice implementation, but i think it is somehow failing to be imported on your machine https://github.com/idiap/fast-trans

[2020-10-26 22:37] lucidrains commented on #7
@Warvito could you try python-ing into the interactive session and run

[code]

and see what happens?

[2020-10-26 23:14] Warvito commented on #7
@lucidrains Thank you for the quick reply.

I tried the command that you asked and I got the following error:

[code]
I have the 0.3.0 version installed here, and it works as expected when using casual=False.
I tried to uninstall pytorch-fast-transformers and install it again. But it did not worked.

I had the chance to try also in a system with a V100 and CUDA 11. And it worked as expected.
I als

[2020-10-26 23:26] lucidrains commented on #7
@Warvito I'm in the dark as much as you are :( I have been putting off custom CUDA code for as long as I could, but the results of this paper was irresistible

[2020-10-27 08:17] Parskatt opened #8 "Issue with biased estimates from QR decomposition"
Hi again :)

See issue: https://github.com/google-research/google-research/issues/436 that I posted on the main repository. Using the QR incorrectly produces results with significantly higher variance. There is quite an easy fix by simply doing
[code]

[2020-10-27 10:42] arti32lehtonen commented on #7
I had the same issue. I am not sure what worked for me but after some steps training with casual=True is working.

my steps:
1. Add CUDA to the PATH variable
`export PATH=/usr/local/cuda-10.1/bin${PATH:+:${PATH}}`
2. Create LD_LIBRARY_PATH
`  export LD_LIBRARY_PATH=/usr/local/cuda-10.1/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}`
3. Create new environment and install fast-transformers as in that

[2020-10-27 13:10] Parskatt opened #9 "Suggestion: Renormalization step for linear attention"
When I used generalized attention without normalizing the the attention matrix I got some crazy big losses (because norms explode inside the network). Now I'm using a renormalization step (basically computing D^-1 as described in the paper):
[code]
To renormalize. Obviously my code is stupidly written (not using the kwarg at all), but I think its a nice feature.
I might have messed up the dimensio

[2020-10-27 14:46] Parskatt commented on #9
I have no idea how to compute this is the attention matrix contains negative values though...

[2020-10-27 15:24] lucidrains commented on #9
@Parskatt Thank you Johan! Indeed I checked the paper and this is always used in the paper, so I turned it on by default. I think we have to assume the kernel functions being passed in results in positive matrices

[2020-10-27 15:24] #9 closed

[2020-10-27 15:35] lucidrains commented on #8
@Parskatt i'll take your word for it :) this can now be turned on with the `qr_uniform_q = True` in the constructor

i'll keep an eye on that issue in the repo, and if the authors go ahead with it, i'll remove the option and default it on

[2020-10-27 15:37] lucidrains commented on #8
@Parskatt have you run any experiments with this potential fix?

[2020-10-27 15:42] Parskatt commented on #8
Im working more on the theoretical side at the moment. I just realised when I generated these matrices that I got a biased estimate (in 2d i literally got no samples in the 4th quadrant but maybe that was someting wrong on my end). Anyway, for those experiments I reduced the variance with about ~50%.

In the experiments Im running myself im still using learnable matrices.

[2020-10-27 15:45] lucidrains commented on #8
How do the learned matrices perform??

[2020-10-27 16:02] lucidrains commented on #8
@Parskatt haha yea, its hard to imagine someone hasn't tried it already, but just curious :D

[2020-10-28 09:53] arti32lehtonen opened #10 "Results are not deterministic in eval mode"
Hi!

It seems that results even in the eval mode are not deterministic at all. It can be explained by the kernel construction procedure described in the paper. But is it a way to get deterministic results?

I use PerformerLm with following parameters:
[code]

[2020-10-28 17:03] lucidrains commented on #10
@arti32lehtonen not without turning off the redrawing of weights, which hurts performance, as indicated in the figures in the pa[er

[2020-10-28 17:04] lucidrains commented on #10
@arti32lehtonen i suppose one could turn off the redrawing of weights only at the end of training though :thinking:

[2020-10-28 19:23] nu11s3c opened #11 "pip install error"
Windows 10
Started with python 3.9, migrated to Adaconda 3.8
Started w/ Pytorch 1.7 w/ Cuda 11, migrated to 1.6 w/ cuda 10.2

Can't for the life of me get these to compile. Always the same errors.

(base) C:\Users\David>pip install performer-pytorch --no-cache-dir
Collecting performer-pytorch
  Downloading performer_pytorch-0.2.0-py3-none-any.whl (9.0 kB)
Requirement already satisfied: torch>=1.6

[2020-10-29 08:29] arti32lehtonen commented on #10
Yep, it helps. I do it after training as you suggest:
[code]

[2020-10-29 10:41] madurner opened #12 "use performer for image detection"
Hello @lucidrains, thanks for this great work!

I am currently working on image detection with the DETR transformers and have issues to train it from scratch (mainly because of GPU resources^^). So I was looking around how to improve the efficiency and found the "Rethinking Attention with Performers" paper. At the moment I am getting into the paper and think I understand the main concept :P
So I w

[2020-10-29 15:17] sidnarayanan opened #13 "Inverse of renormalization matrix being used?"
Hi! Thanks for the speedy reference implementation in Pytorch.

I noticed something odd: I think you're multiplying by D (in eq 4) not D^-1 in `linear_attention`:

[code]

The tensor named `D_inv` is actually D. Unless I'm missing something obvious, which hopefully I am.

[tagging @ncilfone because we discussed this recently]

[2020-10-29 15:56] lucidrains commented on #13
:bug: :bee: :beetle: :pray:

[2020-10-29 15:56] #13 closed

[2020-10-29 16:00] lucidrains commented on #12
@madurner I think it is worth trying, only if you do not expect performances to be as good as with full attention

[2020-10-29 16:01] lucidrains commented on #12
@madurner the other thing you could try is reversible networks, from the Reformer paper. i've used it for so many projects and can attest that it works well. that will save you a depth multiple of the memory being used

[2020-10-29 16:02] lucidrains commented on #12
@madurner also give these two attention-like architectures a try https://github.com/lucidrains/global-self-attention-network and https://github.com/lucidrains/lambda-networks

both uses performer-like linear attention

[2020-10-29 22:45] madurner commented on #12
Hey, thanks for your reply! From the paper, it seems, that with the right training they achieve similar results as the transformer. Do you have other experiences?

Thx for this advice :) I'll check out the paper. From your experience, does the reversible network approach increase the training efficiency?

I was also reading the deformable detr paper. What do you think about that?

[2020-10-30 05:07] lucidrains commented on #12
@madurner there's a lot of benchmarks lacking in the paper. i think you should just try training it and report back your findings

reversibility is good! that's one great takeaway from the Reformer paper, and i use it everywhere. it'll save you a ton of memory, at the cost of being slower in training

yeah, DETR is the way to go. attention is all you need :)

[2020-10-30 15:00] madurner commented on #12
@lucidrains sorry for bothering you again 🙈

By slower training do you mean the time or the number of runs, since this is the big bottleneck I see in DETR?

[2020-10-30 16:34] lucidrains commented on #12
@madurner oh sorry, brain fart :D yea, i think you'll be perfectly satisfied with simply switching from full attention to linear (performer) attention

reversibility is when you want to trade off less memory for more compute, which you don't need

[2020-10-31 01:29] #12 closed

[2020-10-31 16:50] lucidrains commented on #10
@arti32lehtonen addressed this in https://github.com/lucidrains/performer-pytorch/releases/tag/0.5.1

[2020-10-31 16:50] #10 closed

[2020-10-31 21:40] Parskatt commented on #8
@lucidrains I concluded the thread over at google-research. Summary seems to be, yes it is theoretically better to use the flipped version, but it probably doesnt really matter if the dimensionality is large :)

[2020-10-31 21:42] Parskatt commented on #8
Basically I dont think you have to implement it, especially if you want it to be comparable to the original implementation, but it wouldn't hurt either. You can close this issue unless there is something more you want to discuss :)

[2020-11-01 11:23] FilipAndersson245 commented on #11
I believe I have the same error.
`pip install performer-pytorch --log LOG_FILE_PIP` [LOG_FILE_PIP.txt](https://github.com/lucidrains/performer-pytorch/files/5470648/LOG_FILE_PIP.txt)

returning:

ERROR: Command errored out with exit status 1: 'C:\ProgramData\Anaconda3\python.exe' -u -c 'import sys, setuptools, tokenized; sys.argv[0] = '"'"'C:\\Users\\Filip\\AppData\\Local\\Temp\\pip-install-xi1ms3

[2020-11-02 02:41] lucidrains commented on #8
@Parskatt i already have it built, and will keep it hidden behind a keyword argument flag :) do feel to reopen if you were able to show that it makes a difference on downstream tasks!

[2020-11-02 02:41] #8 closed

[2020-11-02 15:41] Parskatt opened #14 "Regarding DDP and reversible networks"
Hi, I'm trying to figure out how to combine DDP with setting the network to be reversible.

My code basically looks like this:

[code]

Now all combinations work for me (ddp/not reversible, not ddp/reversible, not ddp/not reversible) except for ddp and reversible.

The error I get is:

I've seen multiple people have similar issues: https://github.com/huggingface/transformers/issues/7160 ,https://g

[2020-11-02 16:44] Parskatt commented on #14
Only thing I found was: https://github.com/pytorch/pytorch/issues/37002 , which is not in operation yet it seems.

Apex seems to have delayed allreduce implemented since before, but I'm hesitant to switch over just for this issue.

Have you run into this problem yourself, and if so did you manage to find a way around it?

[2020-11-02 17:01] blizda commented on #14
https://github.com/tatp22/linformer-pytorch/issues/23

[2020-11-02 17:07] Parskatt commented on #14
@blizda Yeah I referenced that in my post. However, they solution they seemed to have was to not use checkpointing. And this defeats the purpose of having the network be reversible.

[2020-11-02 17:17] Parskatt commented on #14
@blizda Ah, perhaps now I understand. I think it's because Im using shared parameter matrices for the embedding step perhaps. I'll look into that.

[2020-11-02 17:37] Parskatt commented on #14
Sadly changing that back to a buffer doesnt seem to help. Maybe there is something else in the graph being called twice anyway?

[2020-11-02 17:38] batrlatom opened #15 "unable to import cuda code for auto-regressive Performer"
Hi, I have tried to test your implementation, but have a problem to make it run correctly.
Do you know what the problem could be?

env: fresh conda env, python 3.69, cuda 11, pytorch 1.7
card: gtx1080ti

[2020-11-02 18:07] lucidrains commented on #14
@Parskatt I struggled with this many months ago with Reformer, and finally found that that using Deepspeed actually solved this issue https://github.com/lucidrains/reformer-pytorch/tree/master/examples/enwik8_deepspeed Perhaps I'll get a deepspeed example up by tonight and you can give it a try?

[2020-11-02 18:26] lucidrains commented on #14
@Parskatt Johan -> https://github.com/lucidrains/performer-pytorch/commit/36955b055ca436c716d5494a11779368df6d6700

[2020-11-02 18:28] lucidrains commented on #14
@Parskatt Btw, that's quite cool that you can pass in the model like that to the trainer! Does it not have to be wrapped within a LightningModule anymore?

[2020-11-02 18:41] Parskatt commented on #14
@lucidrains Hi. Yeah I was cheating a bit, it's wrapped in a lighting module (also where my optimizer etc is defined).

I saw Deepspeed as well, Ill give it a try! (tomorrow morning here in Sweden :) )

[2020-11-02 19:29] lucidrains commented on #14
@Parskatt haha ok, lemme know!

[2020-11-03 15:00] Parskatt commented on #14
Yes, everything is working (I think). Reversible works without any changes using DeepSpeed.

I had to do some major refactoring of my code though... But I guess thats from bad practice on my part ;)

I'll close this for now.

[2020-11-03 15:00] #14 closed

[2020-11-03 17:04] Mazgis47 opened #16 "Load weights of transformer into PerformerLM"
Hi, is there an explanation (or even implementation) on how to load pre-trained Bert (or RoBerta or GPT-2 etc.) model weights into PerformerLM model? According to the paper "Backwards compatibility with pretrained models is available as a benefit from softmax approximation, via small finetuning (required due to error propagation)"
If I correctly understand in your readme there is a hint that SelfA

[2020-11-03 17:59] lucidrains commented on #16
@Mazgis47 Hi and thanks for your interest! Indeed they appear to be different, but it's because I merge projections matrices of Q K V into one projection

i have separated them in 0.7.0, and perhaps it will be clearer to you what needs to be done

the other thing you can do is simply reach into the BertSelfAttention module and use the `FastAttention` module supplied in the repo, as detailed at the

[2020-11-03 18:16] lucidrains commented on #16
@Mazgis47 the only big gotcha is that with the Performer like architecture, the masking will be different. Instead of deriving the N x N mask the setting the dot product of (qk) to -infinity, you will actually simply set the tokens of the keys and values to 0 instead

[2020-11-03 22:59] marhlder opened #17 "Adding zeroes in softmax_kernel"
https://github.com/lucidrains/performer-pytorch/blob/681aacb0bbf83e72d54d703f5235c72f4d26b8ea/performer_pytorch/performer_pytorch.py#L45

What is the point of adding zeroes here? The return shape should be exactly the same as projection_matrix right?

Is it some kind of trick to move the tensor between devices? It seems a bit fishy.

[2020-11-03 23:59] lucidrains commented on #17
@marhlder I transcribed that from this line https://github.com/google-research/google-research/blob/master/performer/fast_self_attention/fast_self_attention.py#L84 I'm not sure either, it doesn't seem to serve a purpose

[2020-11-04 06:11] shi27feng opened #18 "definition of layer_drop()"
Hi,
it seems that the function layer_drop(..)  used by forward(..) of the class SequentialSequence is not defined?

[2020-11-04 07:28] lucidrains commented on #18
@shi27feng Hi Feng! I forgot to remove that, it has been cleaned up in 0.7.1 ! https://github.com/lucidrains/performer-pytorch/releases/tag/0.7.1

[2020-11-04 07:28] #18 closed

[2020-11-04 16:31] lucidrains commented on #17
https://github.com/lucidrains/performer-pytorch/commit/a23464e8db0a2358cdf46d4d2eb159582eb5a70a

[2020-11-04 16:31] #17 closed

[2020-11-04 23:53] shi27feng commented on #18
Thanks for the prompt reply

[2020-11-05 01:19] amirardalan9473 commented on #15
Having the same issue

[2020-11-05 17:39] Mazgis47 commented on #16
@lucidrains, thanks for reply, indeed with v. 7x it is clearler. I tried the following:
[code]
Also tried with ` torch.nn.Parameter(...)` but prediction are random - every time I start over (recreate PerformerLM model and run this loop) I get different prediction results which actually never as expected like in original model. It seems that weights are taken from the moment of the creation of the

[2020-11-05 21:19] lucidrains commented on #16
@Mazgis47 there's a bunch of things you need to make sure are identical. i noticed that the bert selfattention linear projections have biases as well. then, you need to transfer the layer norm parameters. finally, the original bert may be using post rather than pre layer normalization. also, the predictions are random each time because performer draws a new projection matrix on each forward. you w

[2020-11-05 21:22] lucidrains commented on #16
@Mazgis47 it's random because performer is drawing a new projection matrix on each forward, but you can fix this to be deterministic after fine-tuning https://github.com/lucidrains/performer-pytorch#advanced

you should also make sure to copy over the bias values, which i noticed exists for the qkv projections on the BertSelfAttention module

[2020-11-05 23:38] sooheon opened #19 "Relative position encoding"
Is this architecture incompatible with relative position encoding a la Shaw et al 2018 or Transformer XL?

[2020-11-05 23:42] lucidrains commented on #19
@sooheon it is, because the order of operations is q(kv) rather than (qk)v, so there is no (qk) attention tensor for the traditional relative positional encoding to be added

[2020-11-05 23:45] lucidrains commented on #19
I could turn on Shaw's for the local attention heads though

[2020-11-06 00:54] sooheon commented on #19
That's unfortunate, but you're right, there's no A=qk matrix to manipulate. Local attention heads is good but that strictly enforces locality prior, and does not enable more general "relations" a la [ETC](https://arxiv.org/abs/2004.08483).

[2020-11-06 02:44] lucidrains commented on #19
ETC is also using a locality prior, so it would be no different than the local attention in this repository, if you were to mix local and performer linear attention. But yup, you would be missing the relative positional interactions for the Performer heads, and it would have to be compensated for by absolute positional embedding

[2020-11-06 02:49] lucidrains commented on #19
@sooheon there is another recent paper https://github.com/lucidrains/lambda-networks/blob/main/lambda_networks/lambda_networks.py#L45 and they were able to exploit convolutions to do relative positional encoding on this type of attention. let me think on this a bit more and see if i could hack in something similar

[2020-11-06 03:11] sooheon commented on #19
Interesting. Convolutions says to me they can handle relative position, but probably will not be able to handle arbitrary position-independent "relation", i.e. "summary-to-node" or "node_type_a-to-node_type_b".

[2020-11-06 03:32] lucidrains commented on #19
@sooheon ahh yes, you won't be able to have custom relation embeddings in that sense

[2020-11-06 06:14] lucidrains commented on #19
@sooheon ahh I see

I thought about the convolution trick, and even that won't work in this scenario due to memory limitations. Closing since it's probably not possible!

[2020-11-06 06:14] #19 closed

[2020-11-06 06:16] sooheon commented on #19
Ok, thanks for the discussion.

[2020-11-06 07:02] yygle commented on #7
@arti32lehtonen is right, make sure c++ tool chain (gcc) and cuda tool chain (nvcc) is available in your environment. If not, use export command make it visible (try "nvcc --version" after that), then reinstall the package.

[2020-11-06 08:12] yygle opened #20 "Is it slower than original bert when training?"
As paper say,  i transferred weights of BERT into performer, and fine-tune it on some down-stream tasks. It seems much more slow than BERT training, besides i already installed fast transformers for CUDA. Is it common or i did something wrong?

[2020-11-06 17:38] lucidrains commented on #20
@yygle the gains for this attention really comes at longer sequence lengths, 2048 and beyond

it isn't noticeable at shorter sequence lengths such as BERT's, which I believe is 512

[2020-11-07 06:45] HaldiramSharma opened #21 "Causal AutoRegressive Doubt"
[code]

I'm not able to understand why context is being divided by k_cumsum?  I understand the one done in bidirectional as  it is mentioned in the paper.
[code]
but it didn't mention anything about the normalization of the causal attention

Can you please help me understand it? Any help would be highly appreciated. :)

[2020-11-07 20:23] lucidrains commented on #21
@HaldiramSharma I think the Performer paper is a bit hard to read. A better paper to read would be the Transformers are RNNs paper https://arxiv.org/abs/2006.16236 You can see how it is derived in equations 10 and 11

As for the performer paper, you can see in section A.3 (and A.4) that renormalization of attention is always turned on

[2020-11-07 20:56] HaldiramSharma commented on #21
So i had a look at the Transformers are RNNs paper and according to my finding you might have missed it by mul it by q_prime
[code]

instead of just normalizing by

[code]

not sure if its correct though

[2020-11-07 21:20] lucidrains commented on #21
@HaldiramSharma I reread the equations and I believe you are correct! Fixed in 0.7.5! https://github.com/lucidrains/performer-pytorch/releases/tag/0.7.5

[2020-11-07 21:20] #21 closed

[2020-11-08 07:45] Wingtail commented on #19
I think relative position encoding might be possible for Performers. Check these papers out: [paper1](https://arxiv.org/pdf/1904.11660.pdf), [paper2](https://arxiv.org/pdf/2006.11477.pdf). In Automatic Speech Recognition fields,  1D convolution is used as a replacement for relative position encoding in Transformers. The data flow would then be input --> pos_embedding=Conv1D(input) --> input += pos

[2020-11-08 08:02] sooheon commented on #19
I think these are along the same lines as lambda networks linked above, using CNNs to imbue the "spatial relation prior". You might be right that this is possible for performers, but this does not allow for graph-like arbitrary relations.

[2020-11-08 08:27] Wingtail commented on #19
I agree that what I posted is similar with lambda networks. I pointed out the 1d-conv variant because it is closer to sequential data than images (lambda networks). With regards to memory size, I think 1d-conv would make it feasible. But I'm not sure what you mean by graph-like arbitrary relations. From what I understand, self-attention learns position-independent relationships, like context relat

[2020-11-08 08:42] sooheon commented on #19
Yes, the content addressing from dot-product attn would be position independent. Relative position (i.e. N-tokens ahead/behind or X-milliseconds ahead/behind) would be a kind of x-to-x relation that is independent of the content of x but dependent on their ordering in the sequence. A generalization of relative position would be to label x-to-x relations according to some semantic relation, regardl

[2020-11-08 09:07] Wingtail commented on #19
Ohh, I see. Yeah, Shaw et al's position embedding is incompatible with Performer..

[2020-11-09 12:07] qazwsxal commented on #15
This library requires `pytorch-fast-transformers` to be installed as it uses implementations of causal linear attention from it. When fast-transformers is installed, it attempts to call the CUDA compiler `nvcc` in order to create memory-optimised CUDA versions of some functions. If the optimised versions can't be compiled for any reason, `performer-pytorch` will use its own, less efficient impleme

[2020-11-10 05:27] yygle commented on #20
Thanks for your response. But i think at least it should not be slower than BERT, but the reality is that Performer is much more slower than BERT when training. Is it because of the gaussian orthogonal random matrix?

[2020-11-10 08:07] yygle commented on #20
Oops, i guess it is because that, when i use parameters of bert-base model, d=768 which is larger than l in paper(which is 512).

[2020-11-10 09:49] qazwsxal commented on #15
https://github.com/idiap/fast-transformers/issues/23#issuecomment-693323065 This comment should explain how to install the `pytorch-fast-transformers` library in a way that works

[2020-11-10 19:50] Lincoln-Jiang opened #24 "A Concrete Example of Use Performer-Pytorch into other Model checkpoint?"
Hi, thank you for the excellent work.

After reading the Readme file, I am still not clear about how to use it to my existing BERT model. Can you please provide a detailed example of using it?

Thank you very much.

[2020-11-12 04:20] yygle commented on #24
https://github.com/yygle/restore_bert_ckpt_to_performer
maybe you can try to do it in this way, and the speed of training is not obviously better with a short sequence, as the author said, it will not gain dramatically when sequence is short.

[2020-11-12 04:21] #20 closed

[2020-11-12 14:44] Warvito commented on #7
Thx @arti32lehtonen and @yygle !
I tried your suggestions and it worked!

[2020-11-12 14:44] #7 closed

[2020-11-12 18:08] Lincoln-Jiang commented on #24
@yygle Thank you. I looked at the code, but don't know where the modules coming from

[code]

[2020-11-13 10:34] yygle commented on #24
you can briefly change the "from performer_pytorch_v2 import PerformerLM"  to the performer model by the author lucidrains, which I think the class is defined in the python file.

[2020-11-13 13:53] fcampagne opened #26 "is dependency on pytorch-fast-transformers necessary?"
I am getting errors installing with pip on mac when the dependency tries to install (log below).
Looking at the code of performer, I don't see imports from pytorch-fast-transformers, so I am wondering if the dependency could not be removed. Did I miss the code that uses it?

pip install pytorch-fast-transformers
Looking in indexes: https://artifactory.prod.adnxs.net/artifactory/api/pypi/pypi/simpl

[2020-11-13 16:25] fcampagne commented on #26
I see from the other comments that the library is needed for causal=True, but not for causal=False. Perhaps the dep could be made optional.

[2020-11-17 14:21] shayeboshi opened #27 "Bug in FastAttention.forward()"
Line 171 to 174 of performer_pytorch.py, forward() creates a projection_matrix each time it runs, while saves the projection_matrix after creating it first. I think there should be a line between line 172 and 173:
`self.projection_matrix = projection_matrix`

[2020-11-17 15:31] fcampagne opened #28 "There are no tests in this project, use_rezero=True is non-functional"
Tests are needed to validate that models can train in various configurations.
I built and ran simple tests (trying to get authorization to contribute as a PR) and found that use_rezero=True kills the gradient and results in a performer model that cannot learn. The fix consists in initializing the rezero parameter with a small value, but not zero (e.g., 1E-3 works in my tests). Zero prevents any si

[2020-11-17 16:11] lucidrains commented on #27
@shayeboshi Hello! So it's supposed to redraw a projection matrix each time. The paper reports best results that way

It only saves the projection matrix if you explicitly set redraw to false or call it at the end of training, as shown in the advanced section of the readme

[2020-11-17 16:13] lucidrains commented on #28
I see, very interesting

Is this your own finding or something in the rezero paper that I missed?

[2020-11-17 16:14] lucidrains commented on #26
I'm going to keep it as required for now

[2020-11-17 16:14] #26 closed

[2020-11-17 16:16] fcampagne commented on #28
This is from my own tests. I looked for a mention in the preprint, but did not see this mentioned. I guess that’s the secret sauce recipe people keep to themselves.

From: Phil Wang <notifications@github.com>
Reply-To: lucidrains/performer-pytorch <reply@reply.github.com>
Date: Tuesday, November 17, 2020 at 11:14 AM
To: lucidrains/performer-pytorch <performer-pytorch@noreply.github.com>
Cc: Fabien

[2020-11-17 16:20] fcampagne commented on #28
The test code is simple. You create a model, record the parameters, do one step of optimization (e.g., with SGD) with a large learning rate (0.1) and check which parameters have changed. If you enable rezero as implemented in your repo you will see that none of the parameters change after the update. I also checked that the loss stays approximately constant over training on a real problem, while t

[2020-11-17 16:26] lucidrains commented on #28
@fcampagne ok, i'll roll with this https://github.com/lucidrains/performer-pytorch/commit/aa726b5e0c42df7ec163c41632a798298738a472

there's very few people in the world looking at these experimental features. one other guy told me he's had good luck with Rezero by using different layer-wise learning rates. I've found rezero to work on full-attention (qk)v projects, but start failing with more dive

[2020-11-17 16:30] lucidrains commented on #28
@fcampagne rezero is probably one of the most experimental features i keep around, just because certain users say they like it. i assure you the rest of the features are all ones that should work quite well!

[2020-11-17 16:31] #28 closed

[2020-11-17 16:33] fcampagne commented on #28
And I guess with no test, nobody can tell easily if/when things break down. Would you be open to PRs that add tests if I get approval to submit?

[2020-11-17 16:37] lucidrains commented on #28
Yeah sure

Well, this whole repo may need more testing.. we don't even know if Performer works for sure yet

[2020-11-18 04:24] lm-b commented on #11
@catechumen27 These are your error lines:

C:/Users/David/miniconda3/lib/site-packages/torch/include\torch/csrc/jit/api/module.h(483): error: a member with an in-class initializer must be const

C:/Users/David/miniconda3/lib/site-packages/torch/include\torch/csrc/jit/api/module.h(496): error: a member with an in-class initializer must be const

C:/Users/David/miniconda3/lib/site-packages/torch/inc

[2020-11-19 05:45] tenexcoder commented on #24
Hey guys — @yygle and @Lincoln-Jiang

I have put together a working experiment to finetune from a pretrained model checkpoint.

The example loads the weights of the pretrained distilgpt2 from Hugging Face Transformers and then finetunes it on Wikitext 2 like in one of their examples.

Based on initial tests perplexity is not yet on part with the vanilla implementation which is ~5 vs ~3. I would ap

[2020-11-19 05:48] tenexcoder commented on #16
@Mazgis47 i have a working experiment that i talk about on issue #24

Take a look and hope it helps!

[2020-11-19 11:39] AhmedCheikhRouhou opened #29 "Floating point exception @ loss.backward()"
Hello, thank you for this rich library for pytorch users.
I'm implementing a seq2seq system for OCR and I tried to use your implementation for the decoder side of it.
the encoder is a CRNN based (CNN + BLSTM). i added the PerformerLM(..) wrapped with AutoregressiveWrapper(..)
The loss returned from the model seems to be working good :
tensor(4.2084, device='cuda:0', grad_fn=<NllLoss2DBackward>)
Ho

[2020-11-20 04:03] norabelrose commented on #27
@lucidrains I understand what you're trying to do, but I think you are slightly misinterpreting the paper. On page 7, underneath figure 4, it says "To further improve overall approximation of attention blocks across multiple iterations which further improves training, random samples should be **periodically** redrawn."

I interpret this to mean, say, every 1-5k training steps. If you look at the g

[2020-11-20 05:00] norabelrose commented on #27
Just implemented the suggestion and created a pull request

[2020-11-20 18:39] lucidrains commented on #27
@norabelrose @shayeboshi ohh yes, I do believe I misunderstood the redrawing! accepting the PR, thank you!

[2020-11-20 18:44] lucidrains commented on #27
https://github.com/lucidrains/performer-pytorch/commit/78d7aa11ed9b1b50a2d743064d274e39b3593823

[2020-11-20 18:44] #27 closed

[2020-11-20 18:58] FilipAndersson245 commented on #11
Does this mean I have to build PyTorch from sources?

[2020-11-20 19:12] lm-b commented on #11
@FilipAndersson245 It looks like you have a different issue:

` RuntimeError: Error compiling objects for extension
2020-11-01T12:17:50,724     Error in atexit._run_exitfuncs:
2020-11-01T12:17:50,724     Traceback (most recent call last):
2020-11-01T12:17:50,724       File "C:\ProgramData\Anaconda3\lib\site-packages\colorama\ansitowin32.py", line 59, in closed
2020-11-01T12:17:50,724         retur

[2020-11-20 23:51] Etzelkut opened #31 "Causal for images"
Hello, thank you for the repo!
I have a question, you gave the example for "Plain Performer, if you are working with say images or other modalities". There, your performer parameter "causal" is set to True. Can please explain why if you can of course? Is it somehow autoregressive task?
Thanks!

[2020-11-21 03:31] lihuiknight opened #32 "Any performance comparison on standard benchmarks?"
Dear author, very appreciate about the helpful toolbox for performer in pytorch.

Do you compare the performance of different transformer variants on standard benchmarks under different sequence length?
What are the really improvement of performer?
I believe if you can report these comparison results, it will really helpful.

[2020-11-22 16:42] ThomasBJones2 opened #33 "Current version seems to make saving and loading through model state dictionaries difficult"
Because the projection matrix is created on the fly during the first forward pass, it isn't present in a brand new model. Thus, when loading from a state dictionary with parameters, the loaded state dictionary will be rejected until the model goes through at least one forward pass.

[2020-11-22 19:14] lucidrains commented on #33
@ThomasBJones2 oops! fixed https://github.com/lucidrains/performer-pytorch/releases/tag/0.11.0

[2020-11-22 19:34] lucidrains commented on #31
it can be on or off, depending on whether you are doing encoding or decoding (generating images a la iGPT https://openai.com/blog/image-gpt/)

[2020-11-23 12:40] Etzelkut commented on #31
Thanks for the link!

[2020-11-23 12:40] #31 closed

[2020-11-27 02:24] rasin-tsukuba opened #34 "Difficult installing on Windows machine"
The environment:

[code]

[code]

[2020-11-30 13:18] haakom opened #35 "Input ordering is not explicitly stated"
Since the pytorch implementation of a transformer expects input ordering to be (sequence_length, batch_size, feature_dimension) is this also the case for the performer implementation?

For instance, using the SelfAttention as such:
attn = SelfAttention(
    dim = 512,
    heads = 8,
    causal = False,
).cuda()

Should it be:
x = torch.randn(batch_size, sequence_length, feature_dimension).cuda()

[2020-11-30 20:55] lucidrains commented on #35
@haakom ohh! sorry this wasn't clear

in all of my repositories, I assume `(batch x seq_len x feature_dim)`

[2020-12-01 06:36] haakom commented on #35
@lucidrains That's great, thanks!

That's what I assumed from reading the code, but it is nice to have it confirmed.

Thank you for the project! You've enabled me to train some models I've been wanting to try since the Transformers were first introduced.

[2020-12-01 06:36] #35 closed

[2020-12-02 05:59] boredtylin opened #36 "A small question regarding `softmax_kernel`"
First things first, greate repo.

I'm trying to understand the renormalizing in `softmax_kernel`, tho:
[code]

In this segment of code, an argument `is_query` is used to distinguish the difference in computation.

I reckon that this part is to alleviate numerical problems. I wonder **why the computation for query features and key features should be different** (in that the max op is different)?

R

[2020-12-02 06:11] boredtylin commented on #36
Seem to get this now. Probably because the normalization is done w.r.t the query axis...

[2020-12-02 06:11] #36 closed

[2020-12-03 05:49] james20141606 opened #37 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
Hi, thanks for the codes!
I run into a problem when executing:

[code]

It works fine if I don't use cuda, but when I use cuda it said:

RuntimeError                              Traceback (most recent call last)
<ipython-input-3-88d19ec5611a> in <module>
     10
     11 x = torch.randn(1, 2048, 512).cuda()
---> 12 y = model(x) # (1, 2048, 512)
     13 x.shape, y.shape

/ext3/miniconda3/lib/python

[2020-12-03 05:51] james20141606 commented on #37
I checked that I could run some simple model with cuda. I am not sure if performer requires some certain environment. I am using pytorch==1.6.0 with cuda 10.1

[2020-12-06 13:31] gulnazaki opened #38 "[Feature] EncoderDecoder framework, similar to ReformerEncDec"
Hello Phil,

Nice job on this great architecture. I want to use it as an Encoder Decoder within Deepspeed, so I am thinking of writing a wrapper similar to the one you did for Reformer. Do you have any tips on what to pay attention (no pun intended) and if I need to use padding as in Autopadder?

Thanks

[2020-12-06 13:57] gulnazaki commented on #38
I also have some question about special tokens. If a sequence is smaller than the max sequence length of the model, I should use a mask that is True for the size of the sequence (including <eos>)? Do I have to include <eos> and <bos> tokens at all?

[2020-12-06 16:42] lucidrains commented on #38
Normally I could build you this within the hour, but my desktop machine with my GPUs finally broke after a streak of good use, and we have stay at home orders due to the pandemic in the states. :( I'll get around to this!

[2020-12-06 16:59] gulnazaki commented on #38
Oh, I am sorry to hear this, I wish your dekstop a speedy recovery!

Don't worry, I am now doing some experiments with the Reformer and if I have time I will look at wrapping the Performer myself.
I am sure you could do it way more easily since you wrote the thing though.

Thanks for your interest and let me know if you try something out :)

[2020-12-06 17:34] lucidrains commented on #38
Thank you!

Do submit a PR if you end up getting it working!

[2020-12-06 17:45] lucidrains commented on #38
@gulnazaki here's another template https://github.com/lucidrains/x-transformers/blob/main/x_transformers/x_transformers.py#L463

[2020-12-06 18:04] lucidrains commented on #38
Oh, also, no autopadder needed! Performer doesn't use the bucketing scheme like in Reformer. And as for the local attention, I built autopadding right into that library by default :)

[2020-12-06 20:33] gulnazaki commented on #38
Thanks, it took me a while but I figured out it is an overkill for this architecture.

So to be sure and solve some questions I had. The correct way to pad variable length sequences is to pad to the max_seq_len of the model or the max sequence of the batch? Also, padding_value=<pad> and ignore_index=<pad> should be used **together** with a boolean mask? And I can see you are padding for Autoregres

[2020-12-06 21:50] lucidrains commented on #38
@gulnazaki Just the max sequence of the batch will do! (and correspondingly, the mask should be padded with `False`'s

[2020-12-06 21:52] lucidrains commented on #38
ohhh oops, yeah, I just set the `ignore_index` by default to `0`, which is the usual padding value

yup, as long as your mask is passed into both the encoder and the decoder, attention will be masked out for those padded elements

[2020-12-06 21:53] lucidrains commented on #38
and yup, it should be used together with the boolean mask, since you are masking out the attention too, in addition to ignoring the loss of the padded elements

[2020-12-06 22:42] gulnazaki commented on #38
Thank you. Btw you could also change it to default to 0 on ReformerEncDec (it currently defaults to 0).

[2020-12-06 23:06] lucidrains commented on #38
@gulnazaki oh crap, you are right :| thank you!

[2020-12-07 00:23] lucidrains commented on #38
done

[2020-12-07 09:22] usmanhidral opened #39 "Use performer for finetunig task"
Can you please tell me how i can use performer for classification? while saving the pretrained model?

[2020-12-07 13:06] lucidrains commented on #38
hurray, my desktop has been fixed! thank you amazon prime

[2020-12-07 13:08] Sleepychord opened #40 "wrong implementation for autoregressive self-attention"
Hi, I found that you used fast_transfomers's CUDA Kernel, but it does not contain `normalization` part, which needs a cumsum outside the CausalDotProduct (in causal_linear_attention).
If I didn't miss something, the result of your code should be wrong... But I am not 100% sure.

[2020-12-07 13:30] Sleepychord commented on #40
It seems the causal_linear_attention_noncuda is also wrong. Do you miss `1. / ...` in
`D_inv = torch.einsum('...nd,...nd->...n', q, k.cumsum(dim=-2))`?

[2020-12-07 14:39] gulnazaki commented on #38
Nice! I finished some experiments with Reformer (wow generation is slow), so I could start working on the PR if you are not working on it now.

[2020-12-07 16:10] lucidrains commented on #40
@Sleepychord oh my, yes, indeed there was a bug in the non-cuda version, thanks for catching that! https://github.com/lucidrains/performer-pytorch/releases/tag/0.11.2

as for EPFL's code, if you look at equation (4), i do believe they normalize https://arxiv.org/pdf/2006.16236.pdf

[2020-12-07 16:16] lucidrains commented on #40
@Sleepychord they keep track of the cumulative sum within the CUDA code, that is how they make it efficient

[2020-12-07 16:18] gulnazaki commented on #38
I believe it is gonna be ready in a while, it was easier than I thought since all the pieces are there. I can see there is a difference between the reformer repo, where you use input_mask, while here you use mask. Actually, I can see they are quite interchanged and while Performer expects `mask` AutoregressiveWrapper expects `input_mask`. Is there any difference between these two, if not would you

[2020-12-07 16:47] Sleepychord commented on #40
Actually they do not (I have read the CUDA code before posting this issue). Just as I said above, they use a `cumsum` outside the CUDA code in a function called `causal_linear_attention`, because `cumsum` is not an expensive operation.

[2020-12-07 16:49] Sleepychord commented on #40
But you can easily solve it by adding a line of code similar to the first line in ` causal_linear_attention_noncuda`.

[2020-12-07 16:53] gulnazaki commented on #38
I am also not sure if I should pass `return_encodings = True` to the encoder or leave it to False and do the matrix multiplication

[2020-12-07 17:53] lucidrains commented on #40
@Sleepychord omg! you are right https://github.com/idiap/fast-transformers/blob/d82aca326eb228fafdf2942c9c26c343f6d1b8ef/fast_transformers/attention/causal_linear_attention.py#L95 Fail on my part lol

Ok, will fix! Thank you so much!

[2020-12-07 17:59] lucidrains commented on #40
@Sleepychord could you review https://github.com/lucidrains/performer-pytorch/pull/41

[2020-12-07 18:04] lucidrains commented on #40
Is that a Yugi-oh character?

[2020-12-07 18:25] lucidrains commented on #38
@gulnazaki Lol yea, Reformer is like the opposite of Performer. It's super slow

Yup, I gradually shifted the naming down to just `mask`. I think it's probably better to stick with `mask` here, just to stay simple and consistent

Yup, the encoder would do its forward pass with the `return_encodings` set to `True`

I was about to start on it, but having an extra contributor would be very welcomed :

[2020-12-07 18:44] jeremycochoy opened #42 "Triangular matrices ?"
Does the current implementation provide triangular matrices (to constrain the attention always on the "left" of the sequence, both for input and encoded values) as described in the last section of the original paper?

[2020-12-07 18:55] lucidrains commented on #40
https://github.com/lucidrains/performer-pytorch/releases/tag/0.11.3

[2020-12-07 18:55] #40 closed

[2020-12-07 18:56] lucidrains commented on #42
@jeremycochoy Hi Jeremy, do you mean in the autoregressive (unidirectional) case? I only see triangular matrices being mentioned in that context

[2020-12-07 19:32] lucidrains commented on #42
@jeremycochoy can you point me at this passage in the paper?

[2020-12-07 19:43] jeremycochoy commented on #42
Yes, its page 17, Annexe B.1. I don't know to which extends it is complex to implement this, if not already there.

[2020-12-07 19:51] lucidrains commented on #42
@jeremycochoy ohh I see, yeah, that is for the unidirectional case, and it is already taken care of, through a cumulative sum actually (no masking needed)

[2020-12-07 19:51] lucidrains commented on #42
@jeremycochoy you don't need to worry about that detail, you just need to set `causal = True` and you are good to go

[2020-12-07 19:53] lucidrains commented on #42
<img width="625" alt="Screen Shot 2020-12-07 at 11 52 53 AM" src="https://user-images.githubusercontent.com/108653/101398338-c95ab100-3882-11eb-9f70-1f4df62a260b.png">
just to make sure we are looking at the same thing lol

[2020-12-07 19:58] jeremycochoy commented on #42
There is no words to say how happy I am to learn it, thats awesome (yes we are looking at the same thing). I can't wait to test it. :)

[2020-12-07 20:06] lucidrains commented on #42
@jeremycochoy good timing, since @Sleepychord just caught a big bug in that part of the code loll

[2020-12-07 21:57] gulnazaki commented on #38
Ok, it is ready. One last question! I see that there is an issue with the `forward` method of the `AutoregressiveWrapper` of the decoder when we use list of variable length tensors. The mask has to be smaller than the largest tensor by 1.

I am a bit confused with this whole padding, masking part and xi, xo (I guess it is because of the <bos> and <eos>) but I will submit as is and let me know

[2020-12-07 22:09] gulnazaki commented on #38
Also, I don't know if this is a bug but there is no error when I pass an invalid shape mask as a decoder mask (when using tensor as input).

[2020-12-07 22:18] gulnazaki commented on #38
Because mask is popped and not pushed back on kwargs if it is different shape of x.

[2020-12-07 22:49] #38 closed

[2020-12-07 22:53] lucidrains commented on #38
@gulnazaki looks great! merged and released! I'll clean it up some time later this week and add a feature or two :) thank you!

[2020-12-07 22:58] gulnazaki commented on #38
You're welcome

[2020-12-08 03:44] #42 closed

[2020-12-08 08:41] Sleepychord commented on #40
Ahhhh, Yeah, Yusei Fudo, the hero of 5DS.

[2020-12-08 14:08] gulnazaki opened #44 "No fp16 support from fast-transformers (CausalDotProduct)"
There is the following `RuntimeError: expected scalar type Float but found Half` when using fp16 (for causal attention).

That is because the fast-transformers' `CausalDotProduct` doesn't support fp16. Do you think there is any workaround, because using Float is bad news for memory usage and also disables DeepSpeed ZeRO optimizations?

[2020-12-08 15:34] lucidrains commented on #44
Not at the moment unfortunately :( I noticed that as well

I may have to look into rewriting EPFLs code with Cutlass https://github.com/NVIDIA/cutlass

[2020-12-08 18:18] gulnazaki commented on #44
I may be too naive, because i have never written cuda kernels, but wouldn't just changing float to half in the origina cuda code work?

[2020-12-08 18:47] lucidrains commented on #44
im looking it up now https://stackoverflow.com/questions/32735292/can-anyone-provide-sample-code-demonstrating-the-use-of-16-bit-floating-point-in

[2020-12-08 19:10] lucidrains commented on #44
@gulnazaki this may be painful lol

[2020-12-08 20:05] lucidrains commented on #44
https://github.com/lucidrains/performer-pytorch/releases/tag/0.12.2 @gulnazaki do you want to give this a try?

[2020-12-08 20:09] lucidrains commented on #44
hacky i know

[2020-12-08 20:13] gulnazaki commented on #44
Haha nice and quick hack, I'll give it a try.

If I have time I will do some reading on mixed precision, because it could really speed up the causal attention too.

Thanks

[2020-12-08 20:18] lucidrains commented on #44
no problem, i'll start reading up on cuda_fp16.h and all it provides

[2020-12-08 20:56] etienne87 commented on #28
i do not understand ReZero:

[code]
From the paper, shouldn't this be:
[code]

[2020-12-08 20:59] etienne87 commented on #28
also, how to combine ReZero + Reversible Layers?

[2020-12-08 21:00] etienne87 commented on #28
by the way thanks for all this pile of awesomeness in code

[2020-12-08 21:08] gulnazaki commented on #44
After a few iterations I got the following:

Traceback (most recent call last):
  File "train_performer.py", line 180, in <module>
    model_engine.backward(loss)
  File "/usr/local/lib/python3.6/dist-packages/deepspeed/runtime/engine.py", line 922, in backward
    self.optimizer.backward(loss)
  File "/usr/local/lib/python3.6/dist-packages/deepspeed/runtime/zero/stage1.py", line 732, in backward

[2020-12-08 21:22] lucidrains commented on #44
https://github.com/lucidrains/performer-pytorch/releases/tag/0.12.3 I think this should fix it *fingers crossed*

[2020-12-08 22:44] gulnazaki commented on #44
I think it fixes it too but when generating with fp16 there is the following error:

[code]

[2020-12-08 23:18] lucidrains commented on #44
@gulnazaki almost there! https://github.com/lucidrains/performer-pytorch/releases/tag/0.12.4

[2020-12-08 23:58] gulnazaki commented on #44
Oh, I see I did this one myself. Almost correct, I think you have to do the `kwargs.update(context_mask = context_mask)` outside the if, because if context_mask is provided it is popped and never updated. (it gave me a runtime error when I used a mask)

[2020-12-09 00:01] gulnazaki commented on #44
Otherwise it seems fine, just to let you know it won't work with [amp/apex](https://github.com/NVIDIA/apex) because of the https://github.com/lucidrains/performer-pytorch/issues/44#issuecomment-741034223.

But fp16 works fine.

[2020-12-09 00:26] lucidrains commented on #44
ok fixed!

oh, why won't it work with amp?

[2020-12-09 00:38] lucidrains commented on #44
@gulnazaki ok, i figured out what you were talking about, fixed in https://github.com/lucidrains/performer-pytorch/releases/tag/0.12.6

[2020-12-09 00:38] lucidrains commented on #44
ugh! this is why i don't do custom CUDA code lol

[2020-12-09 04:05] ClawangTU opened #45 "Question: torch.max term used in `softmax_kernel`"
Hi! Thanks for the implementation of performer-pytorch. It really helps!

I feel confused about the `torch.max` terms in `softmax_kernel` as below. I reckon they are for some kind of normalization, but I did not find the corresponding equations in the original paper. Could you please help explain this term? And why need to discriminate between query and key?

[code]

[2020-12-10 13:50] gulnazaki commented on #44
Hey, I should add that I observed a lot of NaN losses with fp16.

[2020-12-10 17:20] lucidrains commented on #44
@gulnazaki oh no, is this with deepspeed?

[2020-12-10 17:21] lucidrains commented on #44
@gulnazaki i'll do an amp run today

[2020-12-10 19:13] lucidrains commented on #45
@ClawangTU I don't really know either, I transcribed this faithfully from their repository https://github.com/google-research/google-research/blob/master/performer/fast_attention/jax/fast_attention.py#L100-L107

[2020-12-10 19:53] lucidrains commented on #44
@gulnazaki also, I think this new experimental feature is worth trying https://github.com/pytorch/pytorch/issues/42368 , in the case that we can use it to get rid of the CUDA code

[2020-12-10 21:22] gulnazaki commented on #44
Yep, I noticed it with deepspeed fp16 and amp (under deepspeed) opt_level O2 (O1 would give the https://github.com/lucidrains/performer-pytorch/issues/44#issuecomment-741034223)

[2020-12-10 21:56] lucidrains commented on #44
@gulnazaki could you try O1 but with `amp_enabled = True` in your Performer constructor?

[2020-12-10 21:59] lucidrains commented on #44
@gulnazaki i got AMP working with enwik8 (i'll check it in soon) and no NaNs. are you doing gradient clipping?

[2020-12-10 22:03] gulnazaki commented on #44
Yep, I forgot adding `amp_enabled  = True`. I will try it after the current training finishes. I used clipping in the form `"max_grad_norm": 0.5` like you do in the enwik8 example.

[2020-12-10 22:34] lucidrains commented on #44
@gulnazaki yea, i was looking for a way to auto-detect the AMP autocast context. I should probably just set it automatically without that flag

[2020-12-10 22:47] lucidrains commented on #44
@gulnazaki just generated the samples from autoregressive enwik8 and it looks great! yea, i think amp should be fine, if deepspeed can use that

[2020-12-10 22:53] gulnazaki commented on #44
I'll let you know about deepspeed and amp O1 in a few days too

[2020-12-11 02:24] gulnazaki commented on #44
Error on the encoder's side. (I am testing the EncoderDecoder)

[code]

[2020-12-11 02:36] lucidrains commented on #44
@gulnazaki that's been fixed in the latest patch!

[2020-12-11 02:45] gulnazaki commented on #44
I had upgraded to 0.12.8 though

[2020-12-11 03:50] lucidrains commented on #44
@gulnazaki oh doh, there was a bug with the redrawing projections feature and reversible networks

do you want to give the latest version a try? *fingers crossed*

[2020-12-11 08:08] ClawangTU commented on #45
@lucidrains Thanks for your response!

Sorry to bother you, but I have another question about the implementation in `reversible.py`:
[code]
Is param `retain_graph=True` necessary here?

[2020-12-11 11:16] gulnazaki commented on #44
Yeah, I'll look into it shortly.

Do you think the redrawing projections bug would affect also a fp32 model with reversible layers that I have trained?

[2020-12-11 16:16] lucidrains commented on #44
I think it may be a little worse, because the model may not have reconstructed the correct activations on the backward pass, but pretty rarely depending on the feature redraw interval

[2020-12-11 16:16] lucidrains commented on #44
Just keep training from where you left off and it should recover!

[2020-12-11 19:30] gulnazaki commented on #44
There is a mismatch in the state_dict keys but I guess loading with `strict=False` will suffice, right?

[2020-12-11 19:32] lucidrains commented on #45
@ClawangTU yes it is, it is necessary for the scenario where both the encoder and decoder are reversible

[2020-12-11 19:36] lucidrains commented on #44
@gulnazaki ohh, i know why, but that state (the counter for how long until redrawing the next projection) isn't critical, yup, just override it!

[2020-12-11 19:46] gulnazaki commented on #44
Ok, now there is an error in the softmax kernel. (DeepSpeed: amp enabled, opt_level O1) :stuck_out_tongue:

[code]

[2020-12-11 19:59] lucidrains commented on #44
@gulnazaki https://github.com/lucidrains/performer-pytorch/releases/tag/0.14.1 reversible nets man

[2020-12-11 20:00] lucidrains commented on #44
@gulnazaki 🤞

[2020-12-11 20:40] gulnazaki commented on #44
Sorry for that, but it's the same as in https://github.com/lucidrains/performer-pytorch/issues/44#issuecomment-742923063

[code]

[2020-12-12 00:02] lucidrains commented on #44
@gulnazaki perfect confluence of problems - reversibility, feature redraws, custom cuda code that only works with floats

so, I think I may have to put the mixed precision on hold, because I just found out that the current implementation of Performer encoder / decoder doesn't even pass a basic copy task https://github.com/lucidrains/performer-pytorch/blob/main/examples/toy_tasks/enc_dec_copy.py

I

[2020-12-12 00:47] gulnazaki commented on #44
Yeah, I see.

I will continue training for a while and then try with Routing Transformer and compare it. So far, I am seeing a decrease in losses and that the model really learns the structure of the output gradually, but perhaps it is too slow.

I will also have a look, but I can't promise anything since this architecture introduces concepts I am not so familiar with.

Thank you and have a nice w

[2020-12-12 03:42] jueseph opened #46 "SelfAttention layer seems to have large error relative to nn.MultiheadAttention?"
Hi,

I started trying to use this and the first thing I did was compare the error between the performer_pytorch.SelfAttention layer and torch.nn.MultiheadAttention for different sizes of the random feature map. I was a little surprised to see that it never went below 100% relative error.
![image](https://user-images.githubusercontent.com/141943/101971797-c7795080-3be8-11eb-8145-49c3b5a99d7c.png)
A

[2020-12-12 03:59] lucidrains commented on #44
@gulnazaki good news! I got the copy task working! it now converges twice as fast as the non-FAVOR linear attention, so optimism is renewed!

[2020-12-12 04:00] lucidrains commented on #44
@gulnazaki I'll keep trying to debug the mixed precision next week

[2020-12-12 06:59] lucidrains commented on #44
@gulnazaki i squeeze in yet another potential fix (but no guarantees) feel free to try in the latest version

[2020-12-12 13:47] gulnazaki commented on #44
That's very nice, I will check if there is an improvement in convergence for my task too. But for now I am trying to get around the `ValueError: loaded state dict contains a parameter group that doesn't match the size of optimizer's group` when loading the optimizer before the latest changes, state_dict of the model loads just fine though.

[2020-12-12 19:13] lucidrains commented on #44
I'm not entirely sure, this may be a problem specific to the linear attention flavor, since it seems to work fine for attention needing QK interaction. I'll keep digging into it

Yup, AMP works for both enc/dec and them separately. I'll try to port over my toy task over to Deepspeed and see if I can repro the issue

Thanks for the timely testing!

[2020-12-13 02:00] gulnazaki commented on #44
Don't mention it, thanks for your help and fast replies!

Btw, I now looked at the toy example. You know that DeepSpeed uses the amp by Nvidia/apex and not the torch cuda amp, right?

[2020-12-13 15:31] ClawangTU commented on #45
@lucidrains I get it! Thanks a lot for your answer!

[2020-12-13 15:31] #45 closed

[2020-12-13 20:22] lucidrains commented on #44
@gulnazaki Yea, I'm determined to fix this! I checked in an example using apex in the toy tasks directory under example. Could you see if that example works for you? And see if it fixes your deepspeed setup?

[2020-12-13 20:26] lucidrains commented on #44
hopefully the codebase is both pytorch amp and nvidia apex compatible now

[2020-12-14 01:19] gulnazaki commented on #44
Well, the good news is that there are no errors due to type mismatch.

But, I get NaN losses. At first I was very excited that all worked smoothly with DeepSpeed and AMP opt_level O1, but after 200-300 steps I got NaN losses. I tried all opt_levels with or without DeepSpeed (used the same code as the one in your toy example), but losses would be NaN after a while (and loss scale would drop a lot).

[2020-12-14 01:37] lucidrains commented on #44
@gulnazaki nice! let's open a new issue for that! i checked the code and all the epsilons are added before division, so the source of it must be something else

how high is your learning rate? do you have gradient clipping enabled?

[2020-12-14 01:49] gulnazaki commented on #44
I use warm up lr, I guess it must be around 0.0006 when losses get NaN. I use gradient clipping 0.5 with DeepSpeed, I checked and they take ths into account https://nvidia.github.io/apex/advanced.html#gradient-clipping.

[2020-12-14 01:52] gulnazaki commented on #44
Oh, let me try changing eps of Adam.

[2020-12-14 02:23] lucidrains commented on #44
@gulnazaki I'm trying to think if the masking could be the culprit https://github.com/lucidrains/performer-pytorch/blob/main/performer_pytorch/performer_pytorch.py#L324 but think it should be fine

[2020-12-14 02:59] gulnazaki commented on #44
Ooof, I changed Adam eps from 1e-8 to 1e-4 and everything is fine now (at 500 steps). I will continue training and let you know if anything bad happens. I should have thought of it earlier.

[2020-12-14 03:05] lucidrains commented on #44
Oh wow! Nice, eager to hear how well Performer works for you!

[2020-12-14 11:43] gulnazaki commented on #44
Unfortunately, after 1.5 epoch NaN losses started appearing, but disappeared after some steps. But it seems the model was corrupted. The losses were also higher during the whole training.

(Orange and Dark Blue is train and val loss for float training (with tied embeddings), Red and Light Blue is train and val loss with amp opt_level O1 (without tied embeddings))
![image](https://user-images.githu

[2020-12-14 16:48] lucidrains commented on #44
Aww ok, that's a bit disappointing

I wonder if somewhere precision is needed that the network isn't receiving

I'll think about it some more this week!

[2020-12-14 17:11] lucidrains commented on #44
https://github.com/lucidrains/performer-pytorch/blob/0.14.9/performer_pytorch/performer_pytorch.py#L148 ok, i'm really out of ideas this time! lol

[2020-12-14 17:18] lucidrains commented on #44
Actually that's not true, perhaps the projection also needs to be carried out with enough precision. Let me comb through the Jax code base a bit more for clues later today

[2020-12-14 20:49] lucidrains commented on #44
@gulnazaki I think the precision may be important, because I see this in the code https://github.com/google-research/google-research/blob/master/performer/fast_attention/jax/fast_attention.py#L93 and https://github.com/google-research/google-research/blob/master/performer/fast_attention/jax/fast_attention.py#L404

[2020-12-14 20:50] gulnazaki commented on #44
Yeah, my hopes were up too :disappointed:

Is there any chance this could have something to do with it (because of the _ReversibleFunction)? https://pytorch.org/docs/stable/notes/amp_examples.html#autocast-and-custom-autograd-functions

[2020-12-14 21:00] gulnazaki commented on #44
It's a little complicated because they use bfloat16 by default (sounds great really, and it would save us a lot of hassle), but as far as I know it is mostly supported in TPUs.

[2020-12-14 22:08] lucidrains commented on #44
do you think you could potentially do a run without reversibilty so we can rule this in or out?

[2020-12-15 00:48] gulnazaki commented on #44
I tried not using reversible layers (had to use 1/4 of batch size, thanks reversible layers) but nothing changed.

[2020-12-15 01:42] gulnazaki commented on #44
Btw, memory required is 1/4 but speed is also 1/4, this is expected right? (in the reversible resnet paper they do mention 3L computational cost)

[2020-12-15 17:40] AliOskooeiTR commented on #15
I get the same error and it just crashes even you even try to run it on cpu.

[2020-12-17 01:21] calclavia commented on #46
![Screenshot from 2020-12-16 17-20-19](https://user-images.githubusercontent.com/1828968/102425843-03366080-3fc3-11eb-8739-6e85594147bd.png)
I'm having an issue with getting good performance with Performers (using this library) as well. Just training a small scale BERT model. Red is Performer, orange is Transformer. Using 256 random features for a sequence length of 256. Performer doesn't seem to

[2020-12-17 01:29] gulnazaki opened #47 "[Feature] Adding fixed positional embeddings as an option"
I believe that, although using learnable positional embeddings is the trend nowadays, it would help to use fixed embeddings (sinusoidal, as in the original implementation), in relatively small dataset scenarios, where it would be hard to learn a meaningful embedding. At least, it would be interesting to compare both methods.

I see you included fixed embeddings in the reformer implementation, but

[2020-12-17 02:11] calclavia commented on #46
Also, a quick note: @jueseph
Replicating your notebook, I got MSE error as such:
![Screenshot from 2020-12-16 18-10-47](https://user-images.githubusercontent.com/1828968/102434662-11d44600-3fca-11eb-9fe7-cfdc93e3a6d8.png)

https://pytorch.org/docs/stable/generated/torch.nn.MultiheadAttention.html
But pytorch's MHA requires tensor to be of [sequence, batch, features], so I believe your notebook's i

[2020-12-17 04:02] jueseph commented on #46
@calclavia thanks for catching that!

yes, looks like now I can get low MSEs, but the mean relative error is still somewhat large:
![image](https://user-images.githubusercontent.com/141943/102441987-3a633c80-3fd8-11eb-9ede-374065f7db9e.png)

if i look at the individual elements of the attention output matrix, it seems that relative error gets large when values are close to zero, which makes sense.

[2020-12-17 07:36] calclavia commented on #46
@lucidrains Have you tested your FastAttention implementation against JAX implementation (perhaps a unit test e.g. same input tensor), like the one I've written here for my incomplete implementation:
https://github.com/calclavia/Performer-Pytorch/blob/main/test.py#L11

[2020-12-17 09:13] calclavia commented on #46
@jueseph
Tried running your notebook test from a different implementation https://github.com/r0mainK/outperformer/blob/main/src/performer.py

![Screenshot from 2020-12-17 00-47-49](https://user-images.githubusercontent.com/1828968/102464686-85457a00-4001-11eb-901c-34d770acd379.png)

![Screenshot from 2020-12-17 01-09-09](https://user-images.githubusercontent.com/1828968/102466904-7ca27300-4004-11e

[2020-12-17 16:38] PascalHbr opened #48 "Replacing Attention module of Vision Transformer with SelfAttention Module of Performer?"
Hey, thanks for your great work I love it! :) A quick question - in your repo for the Vision Transformer [https://github.com/lucidrains/vit-pytorch] there is a module called `Attention`. Can I simply use the Vision Transformer and replace the Attention module with the SelfAttention module from the Performer?

[2020-12-18 02:11] haoshuai714 opened #49 "Plain Performer, if you are working with say images or other modalities"
Plain Performer, if you are working with say images or other modalities!
ERROR:ModuleNotFoundError: No module named 'local_attention'
where is the local_attention module?

[2020-12-18 19:14] lucidrains commented on #47
@gulnazaki yea sure, I would welcome a PR on that :D I'll check out the paper you recommended tonight, thank you!  Another good one I read recently is https://arxiv.org/abs/2006.15595

[2020-12-18 19:16] lucidrains commented on #48
@PascalHbr hey Pascal! indeed you can! there's actually research groups already investigating this type of attention (linear attention) with vision tasks https://github.com/lucidrains/lambda-networks I wouldn't try Performer on vision tasks just yet

[2020-12-18 19:16] lucidrains commented on #49
@haoshuai714 that's weird, it should be taken care off by the dependencies when you pip installed performer. Try `pip install local-attention`

[2020-12-18 19:18] lucidrains commented on #46
yea, unfortunately I would say Performer still needs to prove itself. I haven't had much luck training Performer at context lengths greater than 2048. Others have told me the same. I built this repository in the case someone can find a solid use for it, because I believe Performer to be the pinnacle of what linear attention could be.

[2020-12-18 19:50] lucidrains commented on #44
@gulnazaki yup! that sounds about right

[2020-12-18 21:05] NZ42 commented on #48
Hey lucidrains, I'm also interested in applying the Performer to vision. Can I ask why you wouldn't try it just yet?

[2020-12-18 21:28] lucidrains commented on #48
@NZ42 actually, I missed the section on ImageNet in the paper. ok, I take it back, maybe it is worth trying!

[2020-12-18 23:04] gulnazaki commented on #44
Btw, I noticed more stable training with the reversible layers.

Also, @norabelrose wrote an [implementation](https://github.com/norabelrose/transformers-plus-performers) of performer attention (based on your repo) most code [here](https://github.com/norabelrose/transformers-plus-performers/blob/clean/src/transformers/modeling_performer_attention.py). I will take a look later if I can find any dif

[2020-12-18 23:07] lucidrains commented on #44
@gulnazaki yea! Nora actually emailed me and we tested her implementation

Unfortunately it is still 2x slower and 2x more memory than the CUDA version

[2020-12-18 23:09] gulnazaki commented on #47
Seems pretty interesting, I'll check it out thanks.

Ok, I'll give it a look later. Do you think axial would also be a good embedding option I should include?

[2020-12-18 23:09] lucidrains commented on #44
@gulnazaki you can checkout this branch if you are interested in trying yourself https://github.com/lucidrains/performer-pytorch/commit/e8626dbe5cbaaa283cdc73f531548f22de4088c6

[2020-12-18 23:15] gulnazaki commented on #44
Nice, good to know. But, yeah :unamused: it would be nice not having this dependency. You tested the latest implementation, right?

[2020-12-19 00:00] lucidrains commented on #44
Affirmative!

[2020-12-19 05:05] lucidrains commented on #47
@gulnazaki yea, axial is great! :)

[2020-12-22 11:57] NZ42 commented on #48
Thank you for the quick reply. In all honesty I'm interested in substituting the self-attention of vision transformers with FAVOR. I see that in your other repo you use the Linformer. Do you have any tips about how to best approach this? I'm also looking into substituting it in pretrained models from timm.

[2020-12-22 18:42] gulnazaki opened #50 "Bug fix in original google-research implementation"
Hey there,

I've seen that a significant bug regarding the `data_normalizer` has been recently fixed in the original implementation in case you haven't checked it yet. I see it exists here too, since you ported the code.

https://github.com/google-research/google-research/commit/b09ac837cd5720bc60f1c16b472a7ab462b0ddb8

[2020-12-22 19:08] lucidrains commented on #50
@gulnazaki haha, I ported over their Jax code, so it should be fine :) that's their new tensorflow implementation

[2020-12-22 19:09] lucidrains commented on #50
@gulnazaki thanks for letting me know!

btw, new follow-up paper for Performer! https://arxiv.org/abs/2012.11346

tldr: sorta-gradient checkpointing along the sequence dimension

[2020-12-22 21:17] lucidrains commented on #50
@gulnazaki hmm interesting https://github.com/google-research/google-research/blob/master/performer/fast_attention/jax/fast_attention.py#L97 is there a discrepancy between their TF and Jax version?

[2020-12-23 17:13] lucidrains commented on #48
@NZ42 You just need to plug the `Performer` instance into the efficient wrapper https://github.com/lucidrains/vit-pytorch#efficient-attention

[2020-12-23 17:14] lucidrains commented on #48
@NZ42 My opinion is that QK interaction is still needed for strong results, but do let us know if you get positive results

[2020-12-23 21:22] gulnazaki commented on #50
Oh yes, I am sorry I only had a quick look at it. I understand they fixed the tf implementation to match the one in jax.

Cool paper also, now the sky is the limit :smile:

[2020-12-23 21:22] #50 closed

[2020-12-29 11:57] maxmax1992 opened #51 "Applying decoder input mask?"
Hi,
I'm trying to implement basic transformer architecture "Attention is all you need", but replacing MultiHeadAttention with the `performer_pytorch.SelfAttention`, however the expected mask for decoder input is apparently not of shape **n x n**?
I've tried different setups, but no success. Any tips/ideas? I've only glanced through the paper.

[2020-12-29 17:44] lucidrains commented on #51
@maxmax1992 Hi Maxim! You do not have to worry about passing in the NxN triangular mask for decoder. Simply set the `causal` keyword argument to `True` and it will be all taken care of!

[2021-01-03 08:07] phypan11 opened #52 "Performance gain replacing original attention to fast attention in this repo?"
I find a space-wise performance gain when I have long sequence with small feature dimension for sure.

But I do not find any time-wise performance gain, and under the same condition, I find loss drop is slower under the same conditions.

This is probably because my dataset and task does not fit right for gaining performance by using performer(sequence not long enough, task not hard enough, etc.),

[2021-01-04 12:43] maxmax1992 commented on #51
Closing this as the solution is to pass causal=True to SelfAttention class.

[2021-01-04 12:43] #51 closed

[2021-01-14 04:56] y-rokutan opened #53 "Decoder randomly outputs NaN tensor."
Hi,

I just noticed misbehavior of decoder, seems to output NaN tensor randomly.

- Problem
AutoregressiveWrapper.generate randomly outputs NaN tensor and fails with ```RuntimeError: probability tensor contains either `inf`, `nan` or element < 0```

- How to Reproduce the bug
Set decoder to cuda device ```dec = PerformerLM(**dec_kwargs).to('cuda:1')```, and repeat decoding inside the  `Autoregress

[2021-01-14 18:18] lucidrains commented on #53
@y-rokutan Hi Yuri! I think there may be something wrong with your training script

If you run the enwik8 example, it uses the decoder and I have never personally run into NaN problems

[2021-01-15 00:49] y-rokutan commented on #53
Hi @lucidrains,
Thx for your quick reply. I've also checked enwik8 example runs perfectly and assume this problem comes from my change.
Let me clarify my situation and problem.

- Model
  - PerformerEncDec with SRC_SEQ_LEN=49152 and TGT_SEQ_LEN=4096
  - Model split into 2x nvidia RTX 3090 with NVLink (encoder to cuda:0 and decoder to cuda:1)
  - Other settings and codes are the same as performer-p

[2021-01-16 03:32] y-rokutan commented on #53
I've tested some possible reasons why this error happen, and suspect CUDA driver problem because of the following results:
1. Assigning single GPU to the model, code runs without error.
1. Assigning two GPUs w/ NVLink bridge, it throws CUDA Runtime Error: illegal memory access.
1. Assigning two GPUs w/o NVLink bridge, it randomly outputs NaN tensor.
(2. and 3. running the same code.)

I'm going to

[2021-01-17 02:38] #47 closed

[2021-01-17 09:41] y-rokutan commented on #53
I've tested performer-encdec model on two V100 GPUs and encountered no error.
This issue is clearly appears that comes from GPU / driver bug. I think RTX 3090 is not the best option for deep learning at this time.

Anyway, thx for your help @lucidrains.

[2021-01-17 09:41] #53 closed

[2021-01-18 16:27] gulnazaki opened #55 "FixNorm alongside ScaleNorm"
Hello there,

D you think it would be possible to add FixNorm in conjuction with ScaleNorm? In the Transformers without tears paper results it does improve the results and it seems straightforward to add. In the tied_embedding case one just has to change the word embedding initialization to uniform with range [−0.01, 0.01] and then do l2-normalization, and otherwise do the scaling in the final lin

[2021-01-19 01:29] lucidrains commented on #55
@gulnazaki yea, i'd accept a PR for that! i think i've tried it before but didn't see any significant changes, but that was a while back and my memory could be failing me

[2021-01-20 16:13] lucidrains commented on #55
@gulnazaki if you run any experiments with Fixnorm and see a marked improvement, do let me know! (and share your results of course 😄  )

[2021-01-20 20:51] gulnazaki commented on #55
I am currently working on something else, but I will let you know when I deal with FixNorm.

[2021-01-21 12:57] AliOskooeiTR commented on #15
@qazwsxal I successfully installed ```pytorch-fast-transformers``` but still get this error either with cpu or gpu: ``` unable to import cuda code for auto-regressive Performer. will default to the memory inefficient non-cuda version
Segmentation fault ```. Would appreciate any help or pointer. Thank you

[2021-01-21 14:39] qazwsxal commented on #15
As this library is written in 100% Python, a segfault is unlikely to be caused by anything here. Without a full stacktrace, it's also going to be difficult to figure out why the crash is happening

[2021-01-23 11:47] y-rokutan commented on #53
**For readers encountered similar issues**:
I found exporting `CUDA_LAUNCH_BLOCKING=1` when using multiple GPUs (or nvlink).
This probably comes from synchronizing GPUs.

[2021-02-05 01:34] gulnazaki opened #56 "Extra FF when using cross attention"
Hello Phil,

I have noticed that when using cross attention a new block (with attention and a FeedForward layer is added), while only an attention layer should be added between the self attention and the FF layer.

Is there any reason for this?

[2021-02-05 05:58] lucidrains commented on #56
@gulnazaki Good catch! it's actually because of the way I have things setup with reversibility. You are right that an extra feedforward isn't faithful to the original design, but in practice I think it makes little difference. Perhaps it may even improve things https://arxiv.org/abs/1906.02762 I'll see what I can do tomorrow, but it isn't a big priority

[2021-02-05 05:59] lucidrains commented on #56
@gulnazaki Good catch! it's actually because of the way I have things setup with reversibility. You are right that an extra feedforward isn't faithful to the original design, but in practice I think it makes little difference. Perhaps it may even improve things https://arxiv.org/abs/1906.02762 I'll see what I can do tomorrow

[2021-02-05 12:00] gulnazaki commented on #56
Wow crazy paper, thanks for sharing. I couldn't argue about the extra FF sublayer effect, because I couldn't find any paper/architecture using it yet.

I also couldn't find a delicate way to patch this (because of the reversibility mostly), so let me know if you look at it :)

I will do a comparison and there could be some interesting findings about it!

[2021-02-05 13:17] gulnazaki commented on #56
Also, note that in the paper the cross_attend scheme for the layer is: `FF, self-attention, cross-attention, FF` instead of `self-attention, FF, cross-attention`. And there is a 1/2 factor for the two FFs, with a inner dimension of 2d instead of 4d(that is for fair comparison mostly though).

[2021-02-05 13:40] lucidrains commented on #56
@gulnazaki yup, they scale their feedforwards by 1/2 in that paper, but we have other papers that show an excess of feedforwards does no harm, may even bring benefits https://arxiv.org/abs/2009.04534

I'll rewrite the sequential logic to the traditional method though, just to temper confusion :)

[2021-02-05 13:40] lucidrains commented on #56
another paper to read to make you question dogma a bit more https://arxiv.org/abs/1911.03864

[2021-02-05 13:57] gulnazaki commented on #56
Don't worry, I just thought you hadn't noticed.

Interesting stuff though, it is a jungle out there

[2021-02-05 19:28] madkoppa commented on #44
So where are we with this? From reading this thread it looks like amp/apex runs but not perfectly. However, for me pytorch native AMP does not work at all.
 `AssertionError: half tensors can only be used if nvidia apex is available`
I'm not doing any deepspeed stuff, just fp16 training with a swapped out nn.MultiHeadAttention and SelfAttention. Am I using it wrong?

[2021-02-05 23:00] gulnazaki commented on #56
I implemented the original architecture for sequential on my fork (there is the ability to add two cross attention sublayers for multisource stuff), if you want to take a look.

https://github.com/gulnazaki/performer-pytorch/commit/4346b648ed6a2aaee28a2e4d977e2a11a0fb5227

So, I am closing this

[2021-02-05 23:00] #56 closed

[2021-02-06 16:02] lucidrains commented on #56
@gulnazaki amazing! :D

[2021-02-10 07:01] ylhsieh opened #57 "Saving checkpoints during training and loading"
Hi, thanks for this awesome repo. I would like to know the correct way of saving a AutoregressiveWrapper model?
Is it `torch.save(model.net.state_dict(), 'checkpoint.pt')`?.
Then how should I load it back for generation?
Thanks.

[2021-02-18 22:12] RaivoKoot commented on #52
Would also like to know.

I will do tests on my current default transformer model which uses inputs with length ~2000 and report my performance/speed results here.

[2021-02-23 01:31] anklebreaker opened #58 "Deterministic layers"
Hey, thanks for making this project!

Quick question, you have a fix_projection_matrices() method to make the model output deterministic. However, if we're only utilizing layers such as SelfAttention module, it appears to be creating a new random matrix in FastAttention upon initialization. Is there a similar way to make those savable matrices?

[2021-02-23 04:44] lucidrains commented on #58
@anklebreaker yup! when you instantiate the `SelfAttention` class, just pass in a `feature_redraw_interval = None` and it should no longer redraw after so many iterations

[2021-02-23 17:57] rainwala opened #60 "context-specific embeddings from language model?"
Hi, thank you very much for all of your amazing work to implement bleeding-edge attention models in pytorch.
This is a question, not an issue. Does the PerformerLM language model learn context-specific embeddings for the tokens? I would like to use this model for a fine-tuning task -- training the language model on a huge dataset, then using part of the trained language model plus some more layers

[2021-02-24 20:40] lucidrains commented on #58
@anklebreaker hey! if you use the SelfAttention modules by themselves, I don't believe the projection matrices are redrawn, so they should always stay the same. (Correct me if I'm wrong on that..)

[2021-03-03 12:28] Muennighoff commented on #42
Am I understanding it correct that because of the pretty neat cumsum, we could even the run EncDec without a decoder mask & still wouldn't spoil the ground truth to the model?

[2021-03-03 16:53] Muennighoff commented on #42
& so in practice we can construct attn masks the same way for inputs & outputs and they are treated the same way by the model? @lucidrains

[2021-03-05 01:31] Warvito opened #61 "Getting error with the check_redraw_projections when using DataParallel"
Hi,

I have been trying to use the PerformerLM (from version 0.15.0) with DataParallel, but after a few epochs I am getting this error.

  File "/project/train_transformer.py", line 168, in <module>
    main(args)
  File "/project/train_transformer.py", line 116, in main
    val_loss = train_transformer(model,
  File "/project/training_functions.py", line 963, in train_transformer
    train_epoch_

[2021-03-05 05:50] lucidrains commented on #61
@Warvito Hi Walter! Perhaps what we can do is disable the invocation https://github.com/lucidrains/performer-pytorch/blob/main/performer_pytorch/performer_pytorch.py#L429 and you can call it yourself in the training loop?

[2021-03-05 05:50] lucidrains commented on #61
are you using data parallel or distributed data parallel (ddp)?

[2021-03-05 10:43] Warvito commented on #61
@lucidrains I am using DataParallel

Here follow a code to replicated the issue.

[code]

In a single GPU it works fine. But running it in a multiGPU I got this error:

As expected, setting "feature_redraw_interval=None," does not generate the error.

As suggested, I tried to perform the redraw on the training loop, and it works:

[code]

@lucidrains Thanks very much for the suggestion ^^

[2021-03-05 15:16] lucidrains commented on #61
@Warvito no problem Walter! I added a way to turn off automatic redrawing with `auto_check_redraw = False`, and then you can just invoke `check_redraw_projections()` yourself wherever

[2021-03-05 15:25] Muennighoff opened #62 "Decoder Mask"
2 quick q's on the decoder:
- Because of the neat cumsum, are we treating the decoder masks the same as the encoder masks (i can't find any different treatment in thecode except for the context route map) ?
- the cumsum at the same time seems to be memory intensive; for an enc-dec / dec-only ~4096 toks text summarizer would you go with the performer (if yes enc-dec or discard the enc) ?

& awesome

[2021-03-17 04:10] norabelrose commented on #44
@madkoppa I just [submitted a PR](https://github.com/idiap/fast-transformers/pull/74) adding fp16 support to the CausalDotProduct CUDA kernel over in the fast-transformers repo. I haven't really been able to test it and I'm new to CUDA kernel programming, so there's probably at least one or two fixes that will need to be made, but I know that the maintainers of the fast-transformers repo have been

[2021-03-19 07:47] asigalov61 commented on #57
@ylhsieh

Try this:

Save:

[code]

Load:

`torch.load('/content/model_sd_opt.pth')`

Although loading maybe tricky due to many reasons. So try to read the docs/try a few things.

Hope this is helpful.

[2021-03-22 02:06] ylhsieh commented on #57
Hi thanks so much for your help! I end up using `deepspeed` and the following commands
[code]

[2021-03-22 02:06] #57 closed

[2021-03-22 02:19] asigalov61 commented on #57
@ylhsieh You are welcome. I am glad you found a working solution. Yes, deepspeed is a good way to go too, so whatever works :)

[2021-03-22 19:04] #61 closed

[2021-04-12 19:21] JamesDeAntonis opened #63 "why is bias true in `to_<q,k,v>`?"
I am referring to [these lines](https://github.com/lucidrains/performer-pytorch/blob/main/performer_pytorch/performer_pytorch.py#L315)

For reference, [in huggingface](https://github.com/huggingface/transformers/blob/master/src/transformers/models/t5/modeling_t5.py#L318), all these projections have no bias

[2021-04-12 20:49] ice-americano opened #64 "Causal linear attention benchmark"
First, thanks for this awesome repo!!

Based on T5 model classes from Huggingface's transformers, I was trying to use performer attention instead of original T5 attention. We finetuned `t5-large` with summarization model, and tried to profile both time and memory usage, and compare the performer attention with the original attention. I have only benchmarked with input size of 1024.

The result cle

[2021-04-13 21:54] lucidrains commented on #63
@JamesDeAntonis yup, i agree it usually should not have projections - but another user actually was trying to fine-tune a BERT implementation to use Performer, and there they did have bias for qkv projection 🤷‍♂️

I think I should probably default it to False, and allow people to turn it on. Regardless, it shouldn't hurt performance

[2021-04-13 21:59] lucidrains commented on #64
@ice-americano ohh yes, so actually, for generation, I am not doing any caching. It should be way faster than T5

[2021-04-13 22:00] lucidrains commented on #64
is that what you meant by it being slow?

[2021-04-13 22:13] JamesDeAntonis commented on #63
Makes sense.  Either way, could we at least make it a parameter?  I could make the changes and submit a PR if that works for you

[2021-04-13 22:30] lucidrains commented on #63
@JamesDeAntonis ok James! done in https://github.com/lucidrains/performer-pytorch/commit/b6c2bfdd4547bf658a310e91ffe0cb5fc0b71736

[2021-04-13 22:32] JamesDeAntonis commented on #63
awesome!  thanks!

[2021-04-13 22:59] #63 closed

[2021-04-14 05:51] ice-americano commented on #64
Yes, that's what I was trying to ask. I just replaced softmax of `T5Attention` from huggingface transformers with `FastAttention` from this repo. However, both finetuning and generation were slower for `FastAttention`, even though it was clearly using less memory. Any idea on what I might be doing wrong?

Thanks!

[2021-04-14 14:36] lucidrains commented on #64
If you are working at context lengths of less than 2048, training will be slower. The benefits of performers comes at 4096 and beyond

As for generation, it's because I never built the caching portion

[2021-04-14 20:47] ice-americano commented on #64
If we were to build caching, what will be cached? Projection matrices?

[2021-04-14 23:21] lucidrains commented on #64
in linear attention, there's a two tensors that are accumulated over the sequence, so you would just need to cache those https://github.com/lucidrains/performer-pytorch/blob/main/performer_pytorch/performer_pytorch.py#L168-L169

[2021-04-14 23:21] lucidrains commented on #64
i'll get around to it this week!

[2021-04-14 23:32] lucidrains commented on #64
@ice-americano the big problem for linear attention pytorch is the fact that everyone relies on this CUDA kernel written by EPFL. i need to write my own in numba so i can have more control over the changes

[2021-04-15 21:42] ice-americano commented on #64
What is EPFL? Also did you mean you are planning to rewrite `causal_linear_attention` in numba instead of using `CausalDotProduct from fast_transformers.causal_product`?
What are the advantages of using code in numba? Will it be faster?

Thanks for all the responses!

[2021-04-16 18:58] lucidrains commented on #64
@ice-americano its just so we can experiment more with linear attention https://developer.nvidia.com/cuda-python i doubt it can get any faster than what EPFL already wrote. the code is just too much to build upon

can you confirm the slow down is when you try to generate from an autoregressive performer? i can fix it if so

[2021-04-20 15:32] JamesDeAntonis opened #65 "`to_out` bias"
Hi again,

Could you make it `qkvo_bias` instead?  We would also like to not have bias for `to_out`

Thanks!

[2021-04-20 15:47] lucidrains commented on #64
ok! i'll work on the other issue (fast generation) - glad to hear the original issue is resolved!

[2021-04-20 15:47] #64 closed

[2021-04-20 19:57] lucidrains commented on #65
@JamesDeAntonis interesting! usually the outward projection does have bias - can you point me at the implementation where it does not, or is this some in-house architecture?

[2021-04-20 20:03] lucidrains commented on #65
@JamesDeAntonis https://github.com/lucidrains/performer-pytorch/releases/tag/1.0.7 `attn_out_bias = False` for you and your team

[2021-04-20 20:13] JamesDeAntonis commented on #65
thanks!

[2021-04-20 20:47] #65 closed

[2021-04-23 16:25] JamesDeAntonis opened #66 "Causal performer slower than causal regular attention"
For some reason, our causal performer runs slower than that of causal regular attention.  You observe that performer is faster, even in the causal case right?  Curious how to troubleshoot this (we don't use the full PerformerLM, just CrossAttention and SelfAttention, not sure if that's relevant)

[2021-04-24 02:40] lucidrains commented on #66
@JamesDeAntonis do you mean on training or eval?

[2021-04-26 21:59] JamesDeAntonis commented on #66
We observed in both.  I heard from [here](https://github.com/lucidrains/performer-pytorch/issues/64#issuecomment-819568003) that the reason is caching?  Is there any plan to implement it?

[2021-04-27 16:36] lucidrains commented on #66
@JamesDeAntonis training is as fast as it can be - basically, if you are training at less than 2048 context length, you should expect it to be same or slower

eval should be really fast though, and that's something i could work on. it should be as fast as an RNN in the end. i'll take a look at it later this week!

[2021-05-01 01:44] pzzhang commented on #52
@lucidrains  I recently used your implementation of performer (https://github.com/microsoft/vision-longformer/blob/main/src/models/layers/performer.py) of linformer (https://github.com/microsoft/vision-longformer/blob/main/src/models/layers/linformer.py) to compare different efficient attention mechanisms in image classification and object detection tasks. See the results reported here: https://gi

[2021-05-01 01:52] pzzhang commented on #48
@lucidrains  I recently used your implementation of performer (https://github.com/microsoft/vision-longformer/blob/main/src/models/layers/performer.py) of linformer (https://github.com/microsoft/vision-longformer/blob/main/src/models/layers/linformer.py) to compare different efficient attention mechanisms in image classification and object detection tasks. See the results reported here: https://gi

[2021-05-05 13:54] CavallucciMartina opened #67 "Performer Benchmark"
Hi,
I would like to know if there are Performer benchmarks on known tasks, for example on BERT.

thank you

[2021-05-10 22:05] ice-americano opened #68 "Input and Context size in CrossAttention"
Does the input tensor size and the context size have to be the same size for CrossAttention(causal)?
If they don't, this [line](https://github.com/lucidrains/performer-pytorch/blob/1.0.11/performer_pytorch/performer_pytorch.py#L154) would definitely cause exception since einsum does not support broadcast by default. I have been tokenizing with padding to the same max length for both in order to ru

[2021-05-18 05:53] lucidrains commented on #68
Hey! Cross attention actually cannot be causal - could you show me a reproducible script for the error you are running into?

[2021-05-24 20:05] ice-americano commented on #68
Sorry for the late reply, yeah you are right. My misunderstading on the causal attention :sweat_smile:
I will close this issue.

Thanks!

[2021-05-24 20:05] #68 closed

[2021-05-28 20:45] simonaxelrod opened #69 "FastAttention doesn't give results in agreement with standard attention?"
Hi there,

I ran this code to compare the results of standard attention with fast attention. Surprisingly, I'm getting very large errors (about 80%). Any idea as to where this comes from?

[code]

[2021-06-01 11:21] carlomarxdk opened #70 "Recover attention scores"
Is it possible to recover the attention scores from the Fast Attention module?

[2021-06-04 20:32] JamesDeAntonis opened #71 "Names `to_k`, `to_q`, `to_v`, `to_out` cause issues"
Hi Lucid,

Hope all is well.  Is there any need to have the q, k, v, o be named `to_k`, `to_q`, `to_v`, `to_out`?  This causes lots of incompatibility with huggingface, since they call them `q`, `k`, `v`, `o`.  Any chance we could change this to the HF convention?

Thanks!

[2021-06-17 09:23] Vbansal21 commented on #19
There is a stochastic pos. enc. method introduced for linear attn models like performer:
https://github.com/aliutkus/spe/tree/main/src/pytorch
https://arxiv.org/pdf/2105.08399.pdf
 and one more method was introduced recently:
https://arxiv.org/pdf/2102.07680.pdf
https://github.com/ExpectationMax/Translational-Equivariant-Performers

Maybe consider adding those to this performer architecture.

[2021-06-19 07:28] Vbansal21 opened #72 "Relative Positional Encoding for Linear Attention Models."
There is a stochastic pos. enc. method introduced for linear attn models like performer:
https://github.com/aliutkus/spe/tree/main/src/pytorch
https://arxiv.org/pdf/2105.08399.pdf
 and one more method was introduced recently:
https://arxiv.org/pdf/2102.07680.pdf
https://github.com/ExpectationMax/Translational-Equivariant-Performers

Maybe consider adding those to this performer architecture for en

[2021-06-24 18:49] simonaxelrod commented on #69
@lucidrains Bumping this up again. Any thoughts on this?

[2021-06-30 14:53] wcshin-git commented on #69
@simonaxelrod
Does this kind of large error occur when experimenting with the original code written in Jax from Google?

[2021-07-01 02:01] simonaxelrod commented on #69
I haven't tried it was Jax yet but I'll give that a shot

[2021-07-01 04:05] wcshin-git commented on #69
All right, I'm curious, too:)

[2021-07-05 20:27] lucidrains commented on #72
@Vbansal21 Hi! I've looked at both of those papers, but I do not think they will come out ahead against
rotary embeddings https://arxiv.org/abs/2104.09864 https://blog.eleuther.ai/rotary-embeddings/ welcome to be proven wrong if you can do some separate runs between the three and show me that it convincingly beats rotary, in which case I will be happy to integrate it

[2021-07-05 20:28] lucidrains commented on #72
@Vbansal21 Hi! I've looked at both of those papers, but I do not think they will come out ahead against
rotary embeddings https://arxiv.org/abs/2104.09864 https://blog.eleuther.ai/rotary-embeddings/ welcome to be proven wrong if you can do some separate runs between the three and show me that one convincingly wins against rotary, in which case I will be happy to spend time integrating it

[2021-07-07 13:45] wcshin-git commented on #69
Hi @simonaxelrod,
I tried the above code using [SLiM performer code](https://github.com/google-research/google-research/tree/master/performer/models/slim_performer) which is written by the original 'Performer' authors. And also it is written in Pytorch, so I could try it easily.
[code]

But the error is (130.53 +/- 2.27)%.
I don't know why we're getting very large errors...
@lucidrains, @simonaxel

[2021-07-09 16:08] gaganbahga commented on #69
@simonaxelrod I observed something similar.
One more observation is that in the code that you linked the error decreases by a lot (to ~1.5%) if in calculating the standard attention, we scale down the logits, for example by dividing the query matrix by 100. This probably makes the attention distribution much flatter so I guess when Q, K, V are not learned, like in this case, performer tends to pro

[2021-07-09 16:30] gaganbahga commented on #70
I don't believe that's possible because the order of computation is `(Q' (K'^T  V))`. Would be interesting to know someone has a different idea/workaround.

[2021-07-09 16:51] gaganbahga commented on #16
@lucidrains thanks for the explanation. If I understand correctly, in the code the masking is only applied by setting the values to 0, not the keys. So this would mean that the attention distribution would still be produced for the entire sequence, but the values for the masked positions would be zero. Do you think it would be helpful to set the key feature map entries for the masked positions to

[2021-07-09 17:37] gaganbahga opened #73 "hyperbolic cosine based estimator"
Hi @lucidrains thanks a lot for providing this implementation,
The authors of the paper proposed two types of estimators for Positive Random Features: the one based on exponential functions (referred to as SM+), and another one based on cosh, referred to as SM hyp+
But I think in the jax/TF implementation, and thus in this repository as well, the implementation is provided for the exponential one

[2021-07-13 06:14] iago-suarez commented on #15
Having the same issue:
- Python 3.6.9
- torch: 1.9.0+cu102
- CUDA Version: 11.2
- GeForce GTX 1080 Ti (Driver Version: 460.80)
- Ubuntu 18.04.5 LTS

[2021-07-16 14:43] WintrumWang commented on #70
In performer paper, the author use a special "V", which is a diagonal matrix (one-hot indicators), then the attention outputs just equal attention scores. I suggest you read the paragraphs around Figure 10 in the paper. However, I have trouble in the implementation of it, because it is confusing to pass both attention scores and results to other functions/classes meantime.

[2021-07-16 14:44] WintrumWang commented on #70
@lucidrains Could you please help us about the implementation of obtain attention weights?

[2021-07-27 06:03] Vbansal21 commented on #72
I ran training on three seperately, but my models denied convergence on any of them😂. Will try again soon.

[2021-08-24 13:37] bngcode commented on #69
Consider equation (7) of the paper. In this Lemma the SM+ is defined as an expectation of some exponential terms. The Expectation is of course an integral over R^d. Now what is done in the code and in the paper is that to approximate this integral, we take m=numb_features samples and orthogonalized them. Now this induced a huge error. The integral cannot be approximated sufficient good enough by t

[2021-10-03 15:20] Erotemic commented on #46
@lucidrains FWIW, when training on sequences of images, Performer has enabled me to scale to much larger spatio-temporal sequences than quadratic attention would allow. Unfortunately, I don't have a robust quality-metric comparison yet, but I'm not even sure how I would fit these volumes into a quadratic attention mechanism on my available hardware. The FAVOR+ algorithm is the best theoretically j

[2021-10-04 17:41] jueseph commented on #46
I should mention that despite my initial experiments above showing some
inaccuracies in FAVOR+ approximating attention directly, as part of a
trained model it works reasonably well. And in particular, in our
application for protein structure prediction (RoseTTAFold), we found that
Performer was worse than vanilla attention for a given model size (in #
parameters), but allows a larger model (more t

[2021-10-11 14:50] martinpflaum opened #76 "torch.max(data_dash) bug"
Hello, i really like your implementation, but i think there is a mistake in line 109 of performer pytorch. There torch.max returns only one value meaning it s also calculated across batches and attention heads. Where as in https://github.com/google-research/google-research/blob/master/performer/fast_attention/jax/fast_attention.py in line 108 this is not the case
last_dims_t+attention_dims_t is a

[2021-10-20 07:13] jiyounglee-0523 opened #77 "Residual Connection"
Hi!
Thank you for providing wonderful implementation of performer.

I just want to ask a one little question.
I noticed that there is no residual connection in the code, did I miss something?

Or does performer not have residual connection in the first place?

Thank you for listening to my question :)

[2021-10-20 07:51] #77 closed, assigned to nobody

[2021-10-21 10:35] martinpflaum commented on #76
Hi, yes looks good 👍

[2021-10-21 10:35] #76 closed

[2021-11-22 08:55] 1140310118 opened #79 "way to make two elements invisible?"
Hey, thanks for your contributions for github community.
I wonder, in linear-attention, is there a way to make two elements of the sequence invisible?

In the original self-attention, this is easy, only by modifying the attention matrix to achieve.
But in linear-attention, I can't find a way to achieve this goal, because there is no attention matrix.
Therefore, I would like to ask if there is a wa

[2021-12-20 10:09] FredHaa opened #80 "torch_tensorrt compilation fails"
Hi

Thank you for contributing this amazing repo!

I've tried to compile the model with the new torch_tensorrt torchscript compiler.
However, it does not seem to support a variable number of arguments which is heavily used for the various forward() functions in the model definition:

[code]

If I were to make a pull request which removes the **kwargs in order to provide TensorRT and torchscript su

[2022-01-05 02:08] ahmdtaha opened #81 "Rotary Position Embedding"
Hi Phillip,

I have a question about your rotary position implementation. I will use the notation and equation numbers from [1].
This [line](https://github.com/lucidrains/performer-pytorch/blob/d3c368afeff6692b811c14468072388fdc7068f3/performer_pytorch/performer_pytorch.py#L479) is the realization of Eq. 34 in [1]. If I am correct, why you add a fixed positional embedding to the query/key/value in

[2022-01-24 04:09] GanjinZero opened #82 "Output inconsistent for autoregressive performer"
I want to apply autoregressive performer for decoding.

[code]
The output is tensor(0.0003, device='cuda:0', grad_fn=<CopyBackwards>).

If I turn off the use_scalenorm, the output is tensor(0.0085, device='cuda:0', grad_fn=<CopyBackwards>).
This shows the inconsistent output for autoregressive performer.

[2022-01-24 04:13] GanjinZero commented on #82
I guess the reason is from **k = create_kernel(k, is_query = False)** from FastAttention.forward, in the softmax_kernel operation, it has line **data_dash = ratio * (torch.exp(data_dash - diag_data - torch.amax(data_dash, dim=(-1, -2), keepdim=True)) + eps)**.
**torch.amax(data_dash, dim=(-1, -2), keepdim=True))** contains information for later time hidden states, and this information is passed to

[2022-02-02 20:34] lucidrains commented on #82
@GanjinZero oh shoot, yea, those maxes are for numerical stability, but i think they should be detached https://github.com/lucidrains/performer-pytorch/commit/fc8b78441b1e27eb5d9b01fc738a8772cee07127 can you let me know if this resolves the issue on your end?

[2022-02-03 06:46] ayan2k26 opened #83 "How to test the performer architecture for training new models?"
The toy example shows the copy function, while the relatively smaller example is a compression problem. Can you please describe how to test the performer attention for a seqtoseq model, like how exactly can I pass a pair of text data, say an English sentence and its French translation and how the workflow, english_sentence -> tokenized -> embed -> encoder -> decoder -> prediction works, or else ho

[2022-02-03 07:34] ayan2k26 commented on #83
Also given that the PerformerLM class has the line `self.token_emb = nn.Embedding(num_tokens, dim)` so I think there must be a way to pass text data to this class for seqtoseq.

[2022-03-28 00:16] Rachel66666 opened #84 "Performer Plain"
Hello, I am trying to adapt the Plain performer. I'm wondering what does the second and third dimension represent? Which one of it is the sequence length? Thank you so much!

[2022-04-08 17:49] merouone opened #85 "Attention map"
Any idea about how to use BertViz or Tensor2Tensor visualization tool with PerformerLM class ?
Thanks

[2022-04-09 20:50] lucidrains commented on #85
@merouone it isn't possible, since linear attention doesn't manifest an attention map / matrix

[2022-04-09 21:30] merouone commented on #85
@lucidrains Thanks.

[2022-04-09 21:36] #85 closed, assigned to nobody

[2022-04-14 08:28] Liyue1d opened #86 "Huge model state dict size?"
Hi,

I am getting very heavy files  (100MB) when I am saving a module containing the PerformerLM module the recommended way. (torch.save(model.state_dict(), 'path')).

I tried with a PerformerLM module only that I just initialized and am having the same issue. Is this normal?

[2022-05-03 17:06] jah377 opened #87 "Using Performer with GNNs"
My understanding of "Rethinking Attention with Performers" is that FAVOR+ is used to approximate the attention matrix and avoids the use of the softmax function. In the README.md file, you note that the Plain Performer can be used if we are using images or other modalities, just as the authors elude to Performer's use in other areas.

I am interested in using Perfomer to approximate attention betw

[2022-05-09 09:58] #72 closed

[2022-05-09 09:59] Vbansal21 commented on #72
Closing the issue.
Results of rotary were slightly better than these linear pos enc.

[2022-07-15 16:35] nmakes opened #88 "Question: Is Performer order equivariant? (can it transform an unordered set of tensors)"
Hi,

Thanks for the amazing implementation. I'm wondering if Performer can be used like a set-operator (i.e. whether it is order equivariant)

For instance, say I have a point cloud and I want to apply self-attention across all the point features. Can Performer be used here (note equivariance: points can be arbitrarily shuffled, but we expect the corresponding transformed features to be identical

[2022-07-21 01:43] Microbiods opened #89 "Question about masking"
Hi, thanks for the wonderful repo, I am new in BERT, so I 'd like to make sure in your example:

model = PerformerLM()
x = torch.randint(0, 20000, (1, 2048))
mask = torch.ones_like(x).bool()
model(x, mask = mask) # (1, 2048, 20000)

is this 'mask' is attention_mask? i.e., TRUE (1) for normal tokens and FALSE (0) for padding tokens? Or set 1 to indicate padding token?
Thanks a lot!

[2022-11-04 15:20] Zhaoyi-Yan opened #90 "I want to use Peroformer on MAE"
Hi, I want to use performer on images, eg, adopting it in MAE. Is there anything that I should pay attention to? Thank you!

[2022-11-10 09:52] ghost commented on #89
@Microbiods this attention mask is just the same as the attention mask of BERT. FALSE for padding tokens